.container{

    background: none;
    height:100%;
}
.sidenav{

    position: fixed;
    left:0;
    height: 100%;

    background-color: rgba(85, 49, 17,0.4);
    padding: 10px;
    box-sizing: border-box;

}
.mat-expansion-panel-body{

    display:flex;
    flex-direction: column;

}
.mat-expansion-panel-header-title{

    cursor: pointer;
    padding: 10px;
    padding-left: 10px;
    padding-left: 0;

}
.userDetails{

    padding:25px;
    background-color: white;
    margin-bottom: 20px;

}
.logButton{

    margin: auto;
    display: block;
    margin-top: 25px;

}
.orderStateTag{

    align-items: center;

}
.sidenavContent{

    height: 100%;

}
.mat-drawer-inner-container{

    direction: ltr;
    overflow: hidden;

}
