.container{

    background: none;
    height:100%;
}
.sidenav{

    position: fixed;
    left:0;

}
.mat-expansion-panel-body{

    display:flex;
    flex-direction: column;

}
.mat-expansion-panel-header-title{

    cursor: pointer;
    padding: 10px;
    padding-left: 10px;
    padding-left: 0;

}
.userDetails{

    padding:25px;
    background-color: gainsboro;

}
.logButton{

    margin: auto;
    display: block;
    margin-top: 25px;

}
.orderStateTag{

    align-items: center;

}
