<mat-drawer-container class="container" [hasBackdrop]='false'>
    <mat-drawer #drawer class="sidenav" mode="side">


          <mat-panel-title>
            Détails utilisateur
          </mat-panel-title>

      <mat-accordion>

        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>

            <mat-panel-title>
              Pages
            </mat-panel-title>

          </mat-expansion-panel-header>
         
          <mat-panel-title *ngIf='currentUser?.isAdmin' routerLink="/dailyOrder">
            <span [matBadgeHidden]="numberOfDailyOrder===0" [matBadge]="numberOfDailyOrder" matBadgeOverlap="false">Commandes du jour</span>
          </mat-panel-title>
          <br>
          <mat-panel-title *ngIf='currentUser' routerLink="/ordersHistory">Historique des commandes</mat-panel-title>
          <br>
          <mat-panel-title routerLink="">Liste des commerces</mat-panel-title>
          <br>
          <mat-panel-title *ngIf='currentUser?.isAdmin' routerLink="/usersList">Liste des utilisateurs</mat-panel-title>

        </mat-expansion-panel>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
  
            <mat-panel-title>
              Ma commande
            </mat-panel-title>
  
          </mat-expansion-panel-header>
          
        </mat-expansion-panel>

      </mat-accordion>
      

    </mat-drawer>
  
    <div class="sidenavContent">

      <app-nav-bar (toggleSideNav)="drawer.toggle()"></app-nav-bar>

      <router-outlet></router-outlet>
    </div>
    
</mat-drawer-container>
