:host{

    display: flex;
    flex-direction: column;
    height: 100%;

}
:host *{

    font-size: 2vh;

}
.productHeader{

    flex-grow: 2;

}
.productBody{

    flex-grow: 1;
    overflow: auto;

}
.productFooter{

    flex-grow: 2;


}
.productMenu{

    position: absolute;
    top: 19px;
    right: 17px;
    background: none;
    border:none;
    cursor: pointer;
    

}
.productMenu *{

    font-size: 4vh;

}
.orderButtonContainer{

float: right;

}
.orderButtonContainer > button{

    float: right;

}

.orderButtonContainer > span{

    display: inline-block;

}
.loginRequiredMsg{

    text-align: right;
    color: tomato;

}
h2,h3{

    margin:0;

}
ul{

    list-style: none;

}
