
 <div class ='productListPanel'>

    <button class='addProductButton' *ngIf='currentUser?.isAdmin' routerLink='/modifyProduct/new/{{provider?.id}}'>Ajouter un nouveau produit</button>

     <div class='panelHeader'>
        
        <h1 class='providerName'>{{provider?.name}}</h1>
        <input (input)='filterProductList($event.target.value)' class='filterBar'><span class="material-icons searchIcon">search</span>

     </div>

    <ul>
        <li class='productItem' *ngFor='let product of filteredProductList'>
    
            <app-product-display (productOrdered)='orderProduct($event)' (productDeleted)='deleteProduct(product)'  [currentTime]='currentTime'  [currentUser]='currentUser' [product]='product'></app-product-display>
            
        </li>
    </ul>

 </div>
