<app-nav-bar></app-nav-bar>
<h1>{{provider?.name}}</h1>
<button routerLink='/modifyProduct/new/{{provider?.id}}'>Ajouter un nouveau produit</button>
<ul>
    <li *ngFor='let product of productList'>
        
        <span>{{product?.name}}</span>
        <span class='price'>{{product?.price}} €</span>
        <hr>
        <p>{{product?.description}}</p>

        <h4>Suppléments</h4>

            <mat-form-field appearance="fill">
            <mat-label>Choisir un supplément</mat-label>
            <mat-select>
                <mat-option value='none' selected >Aucun</mat-option>
                <mat-option *ngFor='let option of product.options' [value]="option">{{option.nom}} +{{option.surcout}} €</mat-option>

            </mat-select>
            </mat-form-field>
        
        <div>
            <button routerLink="/modifyProduct/{{product.id}}">Modifier ce produit</button>
            <button>Supprimer ce produit</button>
            <button>Commander!</button>
        </div>

    </li>
</ul>