<p>
    <a routerLink="/panier/">Voir mon Panier</a>

    <!-- <app-panier-totaux
        [qtteTotale]="getTotalPrix()"
        [prixTotal]="getTotaleQtte()"
        >
    </app-panier-totaux> -->
    <app-quantite
        [qtteIn]="findArticleDansPanier()?.getQtte()"
        (changedQtteEvent)="updatePanier($event)">
    </app-quantite>

    <app-details-article
        [articleSelected]="articleSelected" >
    </app-details-article>

    <app-liste-articles
        [listeArticles]="articlesStock"
        [currentView]="viewEshop"
        (selectedArticleEvent)="updateSelection($event)" >
    </app-liste-articles>

</p>
