<p>
    <a routerLink="/panier/">Voir mon Panier</a>

    <app-panier-totaux
        [qtteTotale]="qtte"
        [prixTotal]="prix"
        >
    </app-panier-totaux>
    <app-quantite *ngIf="articleSelected"
        [qtteIn]="commandMatch.quantite"
        (changedQtteEvent)="updatePanier($event)">
    </app-quantite>

    <app-details-article 
        [articleSelected]="articleSelected" >
    </app-details-article>

    <app-liste-articles
        [listeArticles]="stock.getList()"
        [currentView]="viewEshop"
        (selectedArticleEvent)="updateSelection($event)" >
    </app-liste-articles>

</p>
