<main>
    <div class="inner-main">
        <div class="main-logo"></div>
        <header> AGENDA </header>
        <div class="agenda-full">
            <aside class="inner-aside">
                <app-side-menu></app-side-menu>
            </aside>
    
            <content class="inner-content">
                <app-scheduler-view
                    [myEvents]="eventList">
                </app-scheduler-view> 
            </content>
        </div>
        <footer></footer>
    </div>
  </main>