
<a routerLink = "/admin/utilisateur/ajouter">Ajouter un nouvel utilisateur</a>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>PRENOM</th>

        <th>MODIFIER</th>
        <th>SUPPRIMER</th>
    </tr>
    <tr *ngFor = "let user of userList">
        <td>{{ user.id }}</td>
        <td>{{ user.familyName }}</td>
        <td>{{ user.firstName }}</td>
        
        <td><button routerLink = "/admin/utilisateur/modifier/{{ user.id }}">Editer</button></td>
        <td><button (click) = "deleteRequested(user)">Supprimer</button></td>
    </tr>
</table>