@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
h1 {
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 200;
  font-style: 26px;
  margin: 10px;
}
table.OshiStyle {
  font-family: 'Baloo Chettan 2', cursive;
  border: 5px solid #191919;
  background-color: #9D9D9D;
  width: 100%;
  height: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.OshiStyle td, table.OshiStyle th {
  border: 3px solid #AAAAAA;
  padding: 5px 5px;
}
table.OshiStyle tbody td {
  font-size: 14px;
  color: #000000;
}
table.OshiStyle td:nth-child(even) {
  background: #B9B9B9;
}
table.OshiStyle thead {
  background: #983F3F;
  background: -moz-linear-gradient(top, #b26f6f 0%, #a25252 66%, #983F3F 100%);
  background: -webkit-linear-gradient(top, #b26f6f 0%, #a25252 66%, #983F3F 100%);
  background: linear-gradient(to bottom, #b26f6f 0%, #a25252 66%, #983F3F 100%);
  border-bottom: 2px solid #444444;
}
table.OshiStyle thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #D0E4F5;
}
table.OshiStyle thead th:first-child {
  border-left: none;
}

table.OshiStyle tfoot {
  font-size: 8px;
  font-weight: bold;
  color: #FFFFFF;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 2px solid #444444;
}
table.OshiStyle tfoot td {
  font-size: 8px;
}
table.OshiStyle tfoot .links {
  text-align: right;
}
table.OshiStyle tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}