/*
CSS pour la mise en forme de la marée
*/

.message {
    display : block;
    background-color: tomato;
}
.maree {
    display : block ;
    background-color: blue;
}
.buttons {
    display : block ;
    background-color: yellow;
}