/*
CSS pour la mise en forme de la marée
*/

.message {
    display : block;
    background-color: cyan;
}
.maree {
    display : grid ;
    grid-gap: 0.5em;
    background-color: rgba(0, 0, 0, 0.103);
}
div[data-color='rouge']{
    background-color: red;
}
div[data-color='vert']{
    background-color: green;
}
div[data-color='bleu']{
    background-color: blue;
}
div[data-color='violet']{
    background-color: violet;
}
.buttons {
    display : inline-grid;
    grid-gap: 0.5em;
    grid-template: 4 1 ;
    background-color: yellow;
}
.buttons > * {
    height: 20px;
    width: 20px;
}
.message.visible {
    display: block;
}
.message.invisible {
    display:none;
}