<nav>
    <a routerLink=""        >Home</a>
    <a routerLink="/admin"  >Admin</a>


    <div *ngIf="currentUser && currentUser.roles === 'ADMIN'">
        <a routerLink="/admin/users"        >USERS</a>
        <a routerLink="/admin/authors"      >AUTHORS</a>
        <a routerLink="/admin/articles"     >ARTICLES</a>
    </div>
    <div *ngIf="currentUser && currentUser.roles === 'AUTHOR'">
        <a routerLink="/admin/author/mes-articles">Mes articles</a>
    </div>

    <div *ngIf="!currentUser" >
        <button 
            routerLink='/sign-in'
        >Sign In</button>
        <button 
            routerLink='/sign-up'
        >Sign Up</button>
    </div>

    <div *ngIf="currentUser">
        <a class="monProfil" routerLink="/admin/users"        >{{ currentUser.username}} ({{ currentUser.roles}})</a>
        <button 
            (click) = 'logout()'
        >LogOut</button>
    </div>


</nav>
