<div class="form-element form-option-nom col-lg-6">
    <label  for="option-nom">Nom</label>
    <input class="form-control" type="text" name="option-name"
        placeholder = "Nom (obligatoire)" required
        [(ngModel)]="option.nom" name="option-nom">
    <div *ngIf = "option.nom === ''"
        class="option-form__error alert alert-danger">
        <p>Le nom est requis</p>
    </div>
</div>

<div class="form-element form-option-surcout col-lg-4">
    <label for="option-surcout">Surcoût</label>
    <input type="number" name="option-surcout" 
        placeholder = "Surcoût (obligatoire)"
        required min="0.05" step="0.05"
        [(ngModel)]="option.surcout" class="form-control"   #surcout ="ngModel"
        data-pristine="true" 
        >
    <div *ngIf="surcout.invalid" class="option-form__error alert alert-danger">
        <div *ngIf="surcout.errors.required">
            Le prix est requis
        </div>
        <div *ngIf="surcout.errors.min">
            Surcoût min: 0.05
        </div>
    </div>
</div>

<div class="form-element col-lg-2">
    <button 
        (click) = "deleteOption()"
        type="button"
        class="btn btn-danger"
        >Supprimer
    </button>
</div>
