li{
    list-style-type: none;
}
.delete{
background-color: transparent;
    border: none;
}
.delete:before{
    content: "\2716";
}
.filters{

}
.filters>li {
    margin: 10px;
    display: inline;
    cursor: pointer;
}