<label>Nom du fournisseur : </label>
<input type="text" value="{{provider?.name}}" (change)="updateNameProvider($event.target.value)">

<br>

<label>Description du fournisseur : </label>
<input type="text" value="{{provider?.description}}" (change)="updateDescriptionProvider($event.target.value)">

<br>

<label>Téléphone du fournisseur : </label>
<input type="text" value="{{provider?.phone}}" (change)="updatePhoneProvider($event.target.value)">

<br>

<label>Horaire du fournisseur : </label>
<div *ngFor="let day of ['Lundi', 'Mardi', 'Mercredi','Jeudi','Vendredi','Samedi','Dimanche']; let i = index">
    <label>{{day}} :</label>
    <input type="radio" name="{{day}}" value="ouvert" [checked]="timeTable[i]" (change)="updateDay(i,true)">
    <label>Ouvert</label>
    <input type="radio" name="{{day}}" value="fermé" [checked]="!timeTable[i]" (change)="updateDay(i,false)">
    <label>Fermé</label>
    <br>

</div>

<button (click)="onSaveButtonClick()">Sauvegarder Les Changements</button>
<button>Annuler les Changements</button>


