<form [formGroup]="providerForm">

    <label>
        Nom du fournisseur :
        <input formControlName="name">
    </label>
    <br>

    <label>
        Description du fournisseur :
        <input formControlName="description">
    </label>
    <br>

    <label>
        Téléphone du fournisseur :
        <input formControlName="phone">
    </label>
    <br>

    <fieldset formArrayName="timeTable">
        <legend>Jours d'ouverture</legend>
        
        <ul>

            <li *ngFor="let day of daysList; let i = index" >

                {{day}} : 
                <mat-slide-toggle (change)='toggleTimeTableValue(i)' [checked]="getTimeTableValue(i)">{{getTimeTableValue(i)?'Ouvert':'Fermé'}}</mat-slide-toggle>
            </li>

        </ul>
    </fieldset>
    <hr>
    <button *ngIf='editMode === "create"' (click)="onCreateButtonClick()">Créer ce commerce</button>
    <button *ngIf='editMode === "update"' (click)="onSaveButtonClick()">Enregistrer les modifications</button>
    <button routerLink=''>Annuler</button>

</form>




