<form [formGroup]="providerForm">

    <label>
        Nom du fournisseur :
        <input type="text" value="{{provider?.name}}" (change)="updateNameProvider($event.target.value)">
    </label>
    <br>

    <label>
        Description du fournisseur :
        <input type="text" value="{{provider?.description}}" (change)="updateDescriptionProvider($event.target.value)">
    </label>
    <br>

    <label>
        Téléphone du fournisseur :
        <input type="text" value="{{provider?.phone}}" (change)="updatePhoneProvider($event.target.value)">
    </label>
    <br>

    <fieldset>
        <legend>Jours d'ouverture</legend>
        
        <ul>

            <li *ngFor="let day of daysList; let i = index" >

                {{day}} :
                <mat-slide-toggle (change)='updateDay( i , $event.checked)' [checked]="timeTable[i]">{{timeTable[i]?'ouvert':'fermé'}}</mat-slide-toggle>

            </li>

        </ul>
    </fieldset>
</form>

<button (click)="onCreateButtonClick()">Créer ce commerce</button>
<button (click)="onSaveButtonClick()">Sauvegarder Les Changements</button>
<button routerLink=''>Annuler les Changements</button>


