<div class="container">
  <a routerLink="/admin/article/0">Nouvel article</a>
  <div *ngIf="listArticles">


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Id</th>
    <th scope="col">Titre</th>
    <th scope="col">Date</th>
    <th scope="col">Auteur</th>
    <th>Mod.</th>
    <th>Supp.</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of listArticles; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ article.id }}</td>
    <td>{{ article.title }}</td>
    <td>{{ article.date | date : 'dd/MM/yyyy' }}</td>
    <td>{{ article.author.familyname }} {{ article.author.firstname  }}</td>
    <td><button routerLink="/admin/article/{{ article.id }}">Mod.</button></td>
    <td><button (click) ="onDelete(article)">Supp.</button></td>
  </tr>
  </tbody>
</table>
  </div>
  <div *ngIf="!listArticles">
    Aucun article
  </div>
</div>