<div class="container">
  <div>
    <button mat-raised-button color="primary" routerLink="">Home</button>̵
  </div>

  <div class="header-title"> freaking news
  </div>
  <div class="private-ctrl">
    <div *ngIf="!currUser">
      <button
        mat-raised-button
        color="primary"
        routerLink="/authentication/signin"
      >
        Sign-in
      </button>
    </div>

    <div *ngIf="currUser">
      <button
        mat-raised-button
        color="primary"
        routerLink="/private"
      >
        My Page
      </button>
    </div>

    <div *ngIf="currUser">
      <button mat-raised-button color="warn" (click)="logout()">
        Sign-out
      </button>
    </div>
  </div>
</div>
