<h1 mat-dialog-title>Commander ce produit ?</h1>
<h2>{{order.product.name}} - <span>({{order.product.provider.name}})</span> </h2>
<p>{{order.product.description}}</p>
<span>Suppléments :</span>
<ul>

    <li *ngFor='let option of order.options'>

        {{option.nom}} +{{option.surcout}} €

    </li>

</ul>
<div>
    Total
    <hr>
    {{order.totalPrice}} €
</div>
<mat-dialog-actions>

    <button (click)="onButtonClick('order')">Commander</button>
    <button (click)="onButtonClick('credit')">Faire Crédit</button>
    <button mat-dialog-close >Annuler</button>       

</mat-dialog-actions>


