<h1 mat-dialog-title>Commander ce produit ?</h1>
<h2 >{{order.product.name}} - <span>({{provider?.name}})</span> - <span>{{order.product.price}}</span> €</h2>
<p>{{order.product.description}}</p>
<span>Suppléments :</span>
<span *ngIf='order.options.length === 0'>Aucun</span>
<ul>

    <li *ngFor='let option of order.options'>

        {{option.nom}} +{{option.surcout}} €

    </li>

</ul>
<div>
    Total
    <hr>
    {{order.totalPrice}} €
</div>
<mat-dialog-actions>

    <button (click)="onButtonClick('order')">Commander</button>
    <button (click)="onButtonClick('credit')" *ngIf="currentUser.credit+order.totalPrice<10">Faire Crédit</button>
    <button mat-dialog-close >Annuler</button>       

</mat-dialog-actions>


