body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
}

.tableau {
    border: 1px solid #000;
    padding: 2em;
}

.entry-user {
    display: flex;
    padding-bottom: 1em;
    margin-bottom: 2em;;
    border-bottom: 1px solid #000;
}

.entry-user p {
    padding-right: 1em;
}

.user-entry {
    outline: none;
    appearance: none;
    -webkit-appearance: none; 
    margin: 0; 
}

.submit-number, .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin: 0 1em;
    padding: 0 1em;
    cursor: pointer;
}

.result {
    width: 15em;
    height: 3em;
    display: flex;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5rem;
    border: 1px solid gray;
    /* overflow-x: scroll; */
}

.entries div {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

input {
    outline: none;
}

::placeholder, input {
    padding-left: 0.5em;
    font-family: 'Baloo 2', cursive;
}
