h1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input, textarea{
    padding: 0.3rem;
}

.divName{
    margin-bottom: 1rem;
}

.divPrice{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divSupplier{
    border: 1px black solid;
    margin: 1rem 0;
    padding: 1rem;
}

.divSupplier label{
    font-weight: bold;
}

.divOption{
    border: 1px black solid;
    margin: 1rem 0;
    padding: 1rem;
}

.divOption p{
    font-weight: bold;
}

.buttonAddOption{
    margin-top: 1rem;
}

.divValidation{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.divValidation button{
    text-transform: capitalize;
}