<p>Home</p>

<div *ngIf="!currentUsertoken">
    
    <!-- <mat-form-field> -->
        <button mat-raised-button
            color="primary"
            routerLink="/sign-up">
            Subscribe        
        </button>
    <!-- </mat-form-field> -->

    <!-- <mat-form-field> -->
        <button mat-raised-button
            color="primary"
            routerLink="/sign-in">
            Sign-in
        </button>
    <!-- </mat-form-field> -->
    
</div>
    
<div *ngIf="currentUsertoken">
  <!-- <mat-form-field> -->
        <button mat-raised-button
            color="primary"
            routerLink="/private">
            My Page
        </button>
    <!-- </mat-form-field> -->
    
    <!-- <mat-form-field> -->
        <button mat-raised-button
            color="warn"
            (click)="logout()">
            Sign-out
        </button>
    <!-- </mat-form-field> -->
</div>






