<div class="container">
  <mat-card class="item" *ngFor="let item of articleList">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{ item.title | titlecase }}</mat-card-title>
      <mat-card-subtitle
        >{{ item.author.firstName }} {{ item.author.familyName | uppercase }} -
        {{ item.publiDate | date: mediumDate }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image [src]="item.imageUrl" alt="Photo of article" />
      <p>{{ item.content | slice: 0:100 }} ...</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button routerLink="/home/articles/{{ item.id }}">READ</button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="articleList?.length === 0">Empty blog - no article yet</div>
</div>
