
    <div *ngIf="pizza" class="pizza-form">
      <form >
        <label *ngIf="pizza.name === ''">
          <h4>Donner un nom a ma pizza</h4>
          <input
            type="text"
            placeholder="e.g. Pepperoni"
            class="pizza-form__input"
            [class.error]="true"
            (change)="addName($event.target.value)">
          <div
            class="pizza-form__error">
            <p>Pizza must have a name</p>
          </div>
        </label>
        <label *ngIf="pizza.name">
          <h4>{{ pizza.name }}</h4>
        </label>

        <pizza-display
        [pizza]="pizza">
        </pizza-display>

        <label>
          <h4>Select toppings</h4>
        </label>
        <div class="pizza-form__list">
          <pizza-toppings
          [toppings]="toppings"
          [selectedToppings]="pizza.toppings"
          (toppingsChangeEvent)="updateToppings($event)">
          </pizza-toppings>
        </div>

        <div class="pizza-form__actions">
          <button *ngIf="pizza.id === 0"
            [disabled]="pizza.name.length === 0"
            id="create_button"
            type="button"
            class="btn btn__ok"
            (click)="createPizza()">
            <!-- visible que dans le cas d'une nouvelle pizzas -->
            Create Pizza
          </button>

          <button *ngIf="pizza.id !== 0"
            id="update_button"
            type="button"
            class="btn btn__ok"
            (click)="updatePizza()">
          <!-- visible que dans le cas d'une pizzas existante -->
            Save changes
          </button>

          <button
            (click)="updateFavorites($event.preventDefault())"
            class="btn btn__favorites">
            Favorites
          </button>

          <button *ngIf="pizza.id !== 0"
            id="delete_button"
            type="button"
            class="btn btn__warning"
            (click)="removePizza()">
          <!-- visible que dans le cas d'une pizzas existante -->
            Delete Pizza
          </button>
        
        </div>
      </form>
    </div>
  