

<form>
    <div>
        <label for="name">Nom</label>
        <input name="name" type="text" value="">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <input type= "checkbox" name="closure">
        <label for="closure">Fermeture</label>
    </div>

    <div>
        <label for="phone">Téléphone</label>
        <input name="phone" type="text">
    </div>
    
    <div>Ouverture
        <input type= "checkbox" name="openings_0">
        <label for="openings_0">Lundi </label>

        <input type= "checkbox" name="openings_1">
        <label for="openings_1">Mardi </label>

        <input type= "checkbox" name="openings_2">
        <label for="openings_2">Mercredi </label>
 
        <input type= "checkbox" name="openings_3">
        <label for="openings_3">Jeudi  </label>
   
        <input type= "checkbox" name="openings_4">
        <label for="openings_4">Vendredi </label>

        <input type= "checkbox" name="openings_5">
        <label for="openings_5">Samedi </label>

        <input type= "checkbox" name="openings_6">
        <label for="openings_6">Dimanche </label>
        
    </div>

    <button type="submit">Envoyer</button>
</form>