
.recap-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recap-bottom > output {
    width: 100%;
    text-align: right;
    font: 25px/35px 'Gafata', sans-serif;
    border-top: 1px solid black;
    padding-top: 5px;

}

.recap-bottom > button, .recap-bottom > a {
    width: 40%;
    border: 3px solid black;
    background-color: black;
    color: white;
    margin: 25px 0 10px 0;
    font: 20px/25px  arial, helvetica, sans-serif;;
    padding: 8px 3px;
    font-variant: small-caps;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
}

a:hover, a:active, a:focus {
    scale: 1.04;
    cursor: pointer;
}