<a routerLink="/admin/utilisateur">Retour vers Liste USers</a>

<div *ngIf="user">
    Nom <input #famName type="text" [value]="user.familyName">
    Prenom <input #firstName type="text" [value]="user.firstName">
    Formation <input #course type="text" [value]="user.course">
    Login <input #login type="text" [value]="user.login">
    Mot de Passe <input #pwd type="text" [value]="user.pwd">
    Credit <input #credit type="number" [value]="user.credit">
    <!-- Compte desactivé <input type="checkbox" checked="user ? "user.isBlocked" : "false" " >
    Compte actif <input type="checkbox" checked="user ? "user.isBlocked" : "true" " > -->

    <button routerLink="/admin/utilisateur">
        Annuler
    </button>
    <button
        (click)="saveUserChange(famName.value,firstName.value,course.value,login.value,pwd.value,credit.value)">
        Sauvegarder
    </button>
</div>
