<h1>Utilisateur</h1>

<form [formGroup]="userForm" (ngSubmit) = "onSubmitForm()"  >
    <div class="form-group form-element form-title">
       
        <label for="username">Pseudo</label>
        <input type="text" name="username" id="username" data-pristine="true" 
        placeholder="pseudo" required 
        class="form-control"  formControlName="username">
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='userForm.controls.username.pristine || (!userForm.controls.username.errors || !userForm.controls.username.errors.required)'>
                le pseudo est requis
            </div>
        </div>
    </div>
    <div class="form-group form-element form-password" 
        formGroupName="passwordGroup">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" 
            class="form-control"  formControlName="password"
            data-pristine="true" placeholder="Mot de passe" required>
        <label for="repeat">Resaisir le mot de passe</label>
        <input type="password" name="repeat" id="repeat" 
            class="form-control"  formControlName="repeat"
            data-pristine="true" placeholder="Ressaisissez Mot de passe" required>
        
        <div class="error-message-container">
            <div class="errors error-message error-required" 
                [hidden]='userForm.controls.passwordGroup.pristine || (!userForm.controls.passwordGroup.errors || !userForm.controls.passwordGroup.errors.required)'>
                le mot de passe est requis
            </div>
            <div class="errors error-message error-difference " 
                [hidden]='userForm.controls.passwordGroup.pristine || (!userForm.controls.passwordGroup.errors || !userForm.controls.passwordGroup.errors.comparePassword)'>
                les mots de passe sont différents
            </div>
        </div>
    </div>

    

    <div class="form-group form-element form-email">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" data-pristine="true" 
        placeholder="Email" required 
        class="form-control"  formControlName="email">
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='userForm.controls.email.pristine || (!userForm.controls.email.errors || !userForm.controls.email.errors.required)'>
                le pseudo est requis
            </div>
        </div>
    </div>

    <div class="form-group form-element form-roles">
        <label for="roles">Rôle</label>
        <select  name="roles" id="roles" 
            data-pristine="true" 
            required 
            class="form-control"  formControlName="roles">
            <option value="" disabled>Sélectionnez un role</option>
            <option *ngFor="let role of listRoles" value="{{ role }}">{{ role }} </option>
        </select>
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='userForm.controls.roles.pristine || (!userForm.controls.roles.errors || !userForm.controls.roles.errors.required)'>
                le rôle est requis
            </div>
        </div>
    </div>

    <div class="submit-container">
        <button type="submit"  
            class="submit-button"
            [disabled]="userForm.invalid"
        >Envoyer</button>
    </div>
</form>

