<div class="container">
    <h1>Sign Up</h1>

    <form [formGroup]="userForm" (ngSubmit) = "onSubmitForm()"  >
        
        <div class="form-group form-element form-username">
            <div for="username" >Pseudo</div>
            <input matInput type="text" name="username" id="username" data-pristine="true" 
            required 
            class="form-control" formControlName="username">
            <!--<div *ngIf="userForm.controls.passwordGroup.pristine || (!userForm.controls.passwordGroup.errors || !userForm.controls.passwordGroup.errors.required)"
                >le Pseudo est requis</div>-->
        </div>

        <div class="form-group form-element form-password" 
            formGroupName="passwordGroup">
            <div for="password">Mot de passe</div>
            <input matInput type="password" name="password" 
                class="form-control"  formControlName="password"
                data-pristine="true"  required>
            <div for="repeat">Resaisir le mot de passe</div>
            <input matInput type="password" name="repeat" id="repeat" 
                class="form-control"  formControlName="repeat"
                data-pristine="true"  required>

            <div class="error-message-container">
                <div class="errors error-message error-required" 
                    [hidden]='userForm.controls.passwordGroup.pristine || (!userForm.controls.passwordGroup.errors || !userForm.controls.passwordGroup.errors.required)'>
                    le mot de passe est requis
                </div>
                <div class="errors error-message error-difference " 
                    [hidden]='userForm.controls.passwordGroup.pristine || (!userForm.controls.passwordGroup.errors || !userForm.controls.passwordGroup.errors.comparePassword)'>
                    les mots de passe sont différents
                </div>
            </div>
        </div>

        <div class="form-group form-element form-email">
            <div for="email">Email</div>
            <input matInput type="text" name="email" id="email" data-pristine="true" 
            required 
            class="form-control"  formControlName="email">
                
            <div class="error-message-container">
                <div class="errors error-message error-required" 
                [hidden]='userForm.controls.email.pristine || (!userForm.controls.email.errors || !userForm.controls.email.errors.required)'>
                    l'email est requis
                </div>
            </div>
        </div>

        <div class="form-group"> 
            <button type="submit"  
                class="submit-button"
                [disabled]="userForm.invalid"
            >Envoyer</button>
        </div>
    </form>
</div>