
<h1>
    Historique des commandes 
</h1>
<table *ngIf="allOrders">
    <tr>
        <th class="th-user">NOM Prenom</th>
        <th class="th-course">FORMATION</th>
        <th class="th-order">PRODUIT</th>
        <th class="th-supplier">FOURNISSEUR</th>
        <th class="th-price">PRIX</th>
        <th class="th-date">DATE</th>
        <th class="th-payed">STATUS</th>
    </tr>
    <tr *ngFor = "let userFullOrder of allOrders">
        <td
            [routerLink]="['/admin/utilisateur/modifier/', userFullOrder.getUser().id]">
            {{ userFullOrder.getUser().familyName | uppercase }} 
            {{ userFullOrder.getUser().firstName }}
        </td>
        <td
            [routerLink]="['admin/fournisseur/modifier/']">
            {{ userFullOrder.getUser().course }}
        </td>
        <td
            [routerLink]="['/admin/produit/', userFullOrder.getProduct().id]">
            {{ userFullOrder.getProduct().name }}
        </td>
        <td>
            TBD
        </td> 
        <td>
            {{ userFullOrder.getTotalPrice() }} €
        </td>
        <td>
            {{ userFullOrder.getOrder().date.toLocaleDateString() }}
        </td>
        <td>
            {{ userFullOrder.getOrder().isPayed ? "payé" : "non payé" }}

        </td>
    </tr>
</table>

