:host{

    display: block;
    background-color: gainsboro;
    padding: 10px;


}
.skills{

    width : 100%;
    display: flex;
    flex-direction: column;

}
.genders{

    display: flex;
    justify-content: space-evenly;
    padding: 5px;

}
