<form [formGroup]="userForm" class="form-group" (ngSubmit)="onFormSubmit()">

    <input formControlName="lastName" class="form-control" placeholder="Nom(Obligatoire)">
    <span class="errors" [hidden]='!userForm.controls.lastName.errors || userForm.controls.lastName.pristine'>incorrect</span>

    <input formControlName="firstName" class="form-control" placeholder="Prénom">
    <span class="errors" [hidden]='!userForm.controls.firstName.errors || userForm.controls.lastName.pristine'>incorrect</span>

    <input formControlName="email" class="form-control" placeholder="Email">
    <span class="errors" [hidden]='!userForm.controls.email.errors || userForm.controls.lastName.pristine'>incorrect</span>

    <input formControlName="nationality" class="form-control" placeholder="Nationalité">
    <span class="errors" [hidden]='!userForm.controls.nationality.errors || userForm.controls.lastName.pristine'>incorrect</span>


    <div class="genders">

        <label>
            
            Femme<input formControlName="gender" value="Female" class="form-control" type="radio" name="gender">

        </label>
        
        <label>

            Homme<input formControlName="gender" value="Male" class="form-control" type="radio" name="gender">

        </label>
        <label>

            Autre<input formControlName="gender" value="Other" class="form-control" type="radio" name="gender">

        </label>

    </div>

    <hr>

    <div formGroupName="skills" class="skills">

        <label>

            <input formControlName="frontDev" type="checkbox"> Développeur Front
    
        </label>
        <label>
    
            <input formControlName="backDev" type="checkbox"> Développeur Back
    
        </label>
        <label>
    
            <input formControlName="integrator" type="checkbox"> Intégrateur
    
        </label>
        <label>
    
            <input formControlName="uxui" type="checkbox"> UX/UI
    
        </label>
        <label >
    
            <input formControlName="nothing" type="checkbox"> Rien de tout cela
    
        </label>

    </div>
    
    <hr>
    
    <input formControlName="birthdayDate" class="form-control" type="date">

    <div>

        <input formControlName="password" class="form-control" type="password" placeholder="Mot de passe (obligatoire)">
        <input formControlName="checkPassword" class="form-control" type="password" placeholder="Resaisir mot de passe (obligatoire)">

    </div>
    
    <input formControlName="login" class="form-control" placeholder="Choisissez un login (obligatoire)" type="text">

    <div formGroupName="availabilities" class="form-group">

        <label>

            De <input formControlName="startDate" class="form-control" type="date">

        </label>
        <label>

            A <input formControlName="endDate" class="form-control" type="date">

        </label>

    </div>

    <button type="submit">Valider</button>

</form>
