/*
CSS pour la mise en forme de la marée
*/

.carre{
    width: 20px;
    height: 20px;
    margin: 20px;
}

.carre[data-color='rouge'] {
    background-color: red;
}

.carre[data-color='bleu'] {
    background-color: blue;
}

.carre[data-color='cyan'] {
    background-color: cyan;
}

.carre[data-color='violet'] {
    background-color: violet;
}

.carre[data-color='vert'] {
    background-color: green;
}
