<p>calendar works!</p>

{{ activeYear }}
{{ activeMonth+1 }}
{{ nbDaysBefore }}

<div>{{ this.getFrMonth(activeMonth) }} {{ this.activeYear }}</div>
<div class="calendar">
    <div class="calendar_weekday" *ngFor="let weekday of weekdays">{{ weekday }}</div>
    <div class="calendar_day" *ngFor="let in of counter(2-1)">
        <div class="bubble"></div>
    </div>

    <div class="calendar_day" *ngFor="let in of counter(30); let i = index">
        <div class="bubble activeBubble">{{ i+1 }}</div>
    </div>
</div>
