@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    width:auto;
    background-color: white;
    display:flex;
    flex-direction: row;
}
.banner{
    position:fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 120px;
    z-index: 1;
    background-color:rgb(82, 2, 119); /* #def */
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}
.homePage.show, .cartRecapPage.show{
    display: block;
    z-index: 11;
}

.recapCartPage.hide, .homePage.hide{
    display:none;
}
form{
    height: 550px;
    width: 350px;
    margin: auto;
    padding: 10px 10px;
    position:fixed;
    z-index: 2;
    left: 300px; 
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photo-list{
    position: absolute;
    top:120px;

    right : 10px ;
    width: 400px;
    scroll-behavior: smooth;

    margin-right: 10px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
  /*  background-color:rgba(66, 5, 94, 0.678); /* #9AA6B1 */
}

.photo-list > div{

    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgb(57, 4, 83);
    color:whitesmoke;
    padding: 5px 10px 5px 10px;
}
.cart-info {
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
    
    height: 60px;
    width: 20%;
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    
   border: solid;
}
.cart-info > *{
  
    color: whitesmoke;
}
.data-input-quantite{
    width: 30px;
    background-image: url();
}

.articles{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.articles.surbrillance {
    border: solid;

}
img{
    border-radius: 10px;
}
.btn-goBackHome, .btn-empty-list{
    height: 50px;
    width: 100px;
    background-color: yellow;
}