@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    width:auto;
    height: auto;
    background-color: white;

}
.banner{
    position:fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 120px;
    z-index: 10;
    background-color:rgb(82, 2, 119); /* #def */
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}
.homePage.show, 
.cartRecapPage.show{
    display: block;
}

.cartRecapPage.hide, 
.homePage.hide{
    display:none;
}

form{
    height: 550px;
    width: 350px;
    margin: auto;
    padding: 10px 10px;
    border: dotted;
    position:fixed;

    left: 27%; 
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photo-list{
    position: fixed;
    top:140px;
    right : 0px ;
    width: 400px;
    height: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 5px;
    background-color: rgba(84, 2, 119, 0.904);
    border-radius: 0px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
  /*  background-color:rgba(66, 5, 94, 0.678); /* #9AA6B1 */
}

.photo-list > div{

    display:flex;
    flex-wrap: nowrap;
    width: 90%;
    background-color: rgb(57, 4, 83);
    color:whitesmoke;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.cart-info {
    z-index: 30;
    position: fixed;
    top: 30px;
    right: 30px;
    
    height: 55px;
    width: 150px;
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid;

    color: whitesmoke;
}

.data-input-quantite{
    width: 30px;
}

.item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item.surbrillance {
    border: solid;
}
.recap-list{
    position: fixed;
    scroll-behavior: smooth;
    overflow-y: scroll;
    left: 10%; 
    top: 25%;
    display:flex;
    flex-flow: column nowrap;
    width: 80%;
    height: 70%;
    border: solid;

}
img{
    border-radius: 10px;
}
.btn-goBackHome, .btn-empty-list{
    z-index: 30;
    position: fixed;
    height: 50px;
    width: 100px;
    background-color: yellow;
}