

<div class="admin-links">
    <div class="admin-link">
        <a routerLink = "/admin/commande-du-jour">Accéder aux commandes du jour</a>
    </div>
    <div class="admin-link">
        <a routerLink = "/admin/historique">Consulter l'historique des commandes</a>
    </div>
    <div class="admin-link">
        <a routerLink = "/admin/fournisseur">Gestion des fournisseurs</a>
    </div>
    <div class="admin-link">
        <a routerLink = "/admin/utilisateur">Gestion des utilisateurs</a>
    </div>
</div>