.container{
    overflow: auto;
}

.sprite {
    width: 528px; 
    height: 560px;
    background-image: url('css_sprites.png');

}

.view {
    width: 264px;   
    height: 280px;
    background-size: 300% 200% ;
    background-image: url('css_sprites.png');

}

.bg-avataaars__2_ {
    background-position: -10px -10px;
}

.bg-avataaars__3_ {
    background-position: -558px -10px;
}

.bg-avataaars__1_ {
    background-position: -1106px -10px;
}

.bg-avataaars__4_ {
    background-position: -10px -590px;
}