/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-color: lightgray;  */
    background-color: gray; 
}
/* *{
    color: black;
} */

mat-form-field {
    padding-top: 15px;
    padding-bottom: 15px;
}
button {
    margin: 15px 15px;
}

/* mat-hint {
    color: ;
} */