/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}
body {
    margin: 10px 10px ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: lightgray;  */
    background-color: rgb(61, 58, 58);
}
/* *{
    color: black;
} */

mat-form-field {
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: antiquewhite; */
}
button {
    margin: 15px 15px;
}

/* mat-hint {
    color: ;
} */
