<table>
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Produit</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Payement</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let order of ordersList'>

        <td>
          {{order.user.name | uppercase}} {{order.user.surname | titlecase}}
        </td>
        <td>{{order.product.name}}</td>
        <td>{{order.date | date:'d/M/y'}}</td>
        <td>{{order.product.price}} €</td>
        <td>{{order.isPaid?'ok':'En attente'}}</td>
  
      </tr>
    </tbody>
    
</table> 