:host{

    display: block;
    padding: 15px;
    margin: 5%;
    background: rgba(85, 49, 17,0.6);;
    border-radius: 25px;

}

table{

    width: 100%;
    border-spacing: 1px 10px;

}
.productName:hover{

    background-color: red;
    cursor: pointer;

}