table{

    width: 100%;
    border-spacing: 1px 10px;

}
tr{

    text-align: center;
    background-color: rgba(0,0,0,0.3);

}
thead>tr{

    background-color: rgba(0,0,0,0.5);

}
th,td{

    padding:10px;

}
.productName:hover{

    background-color: red;
    cursor: pointer;

}