<table>
    <thead>
      <tr>
        <th *ngIf='currentUser?.isAdmin'>Utilisateur</th>
        <th>Produit</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Payement</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let order of ordersList'>

        <td *ngIf='currentUser?.isAdmin'>
          {{order.user.name | uppercase}} {{order.user.surname | titlecase}}
        </td>
        <td class='productName' (click)="onOrderNameClick(order)">{{order.product.name}}</td>
        <td>{{order.date | date:'d/M/y'}}</td>
        <td>{{order.totalPrice}} €</td>
        <td>{{order.isPaid?'ok':'En attente'}}
          <button (click)='onPayOrderButtonCLick(order)' *ngIf='!order.isPaid && currentUser?.isAdmin'>payer</button>
        </td>
        <td *ngIf="isNotOutdated(order.date)"><button (click)='onCancelOrderButtonClick(order)'>annuler la commande</button></td>
      </tr>
      
    </tbody>
    
</table> 