<div class="pizza-display">
  <div class="pizza-display__base">
    <img src="/assets/img/pizza.svg">
    <img 
      src="/assets/img/toppings/tomato.svg" 
      [style.zIndex]="0"
      class="pizza-display__topping"
      @drop>
    <img 
      src="/assets/img/toppings/sweetcorn.svg" 
      [style.zIndex]="2"
      class="pizza-display__topping"
      @drop>
    <img 
      src="/assets/img/toppings/pepperoni.svg" 
      [style.zIndex]="3"
      class="pizza-display__topping"
      @drop>
  </div>
</div>
