<form [formGroup]="productForm">

    <label>
        Nom :
        <input formControlName="name">
    </label>
    <br>
    <label>
        Description :<br>
        <!--<input type="text" value="{{product?.description}}" (change)="updateDescriptionProduct($event.target.value)">-->
        <textarea formControlName="description"></textarea>
    </label>
    <br>
    
    <fieldset  formArrayName="options">
        <legend>Listes des options</legend>
        <ul *ngFor="let option of options.controls; let i = index">
            <li [formGroup]='option'>

                <label>
                    Nom de l'option : 
                    <input  formControlName="nom">
                </label>
                <br>
                <label>
                    Surcout de l'option : 
                    <input formControlName="surcout">
                </label>
                <br>
                <button (click)='deleteOption(i)'>supprimer cette option</button>
            </li>

        </ul>
        <button (click)='addOption()'>Ajouter une nouvelle option</button>
    </fieldset>
    
    <br>

    <label>
        Prix :
        <input formControlName="price"> €
    </label>
    
    <br>    

</form>

<button (click)="onCreateButtonClick()">Créer un nouveau Produit</button>
<button (click)="onSaveButtonClick()">Sauvegarder le Produit</button>
<button routerLink='/productsList/{{product?.providerId}}'>Annuler les modifications</button>
