<form [formGroup]="productForm">

    <label>
        Nom :
        <input formControlName="name">
    </label>
    <br>
    <label>
        Description :<br>
        <!--<input type="text" value="{{product?.description}}" (change)="updateDescriptionProduct($event.target.value)">-->
        <textarea formControlName="description"></textarea>
    </label>
    <br>
    
    <fieldset>
        <div *ngFor="let option of product.options">
            <label>
                Nom de l'option : 
                <input  formControlName="nom">
            </label>
            <label>
                Surcout de l'option : 
                <input formControlName="surcout">
            </label>
        </div>
    </fieldset>
    
    <br>

    <label>
        Prix :
        <input formControlName="price"> €
    </label>
    
    <br>    

</form>


<button (click)="onSaveButtonClick()">Sauvegarder le Produit</button>
<button routerLink='/productsList/{{product.providerId}}'>Annuler les modifications</button>
