<div class="admin-title"> 
    <h1 *ngIf="productId === 0">Ajouter un produit</h1>
    <h1 *ngIf="productId !== 0">Modifier un produit</h1>
  </div>


<div class="button-back">
  <a routerLink="/admin/fournisseur/{{ supplierId }}/produit">Retour vers la liste des produits</a>
</div>
  
  <div class="product-form" *ngIf="product">
      <app-product-form 
        [product] = "product"
        (create) = "createProduct($event)"
        (update) = "updateProduct($event)"
        (deleteOption) = "deleteOption($event)"
      ></app-product-form>
  </div>
