<p>TRIER PAR :</p>
<select (change)="sortMembre($event.target.value)">
  <option value="id">ID</option>
  <option value="prenom">PRENOM</option>
  <option value="nom">NOM</option>
  <option value="formation">FORMATIONS</option>
  <option value="credit"></option>
</select>

<p>FILTRER PAR :</p>
<select>
  <option>TOUS</option>
  <option>ADMIN</option>
  <option>CREDITS</option>
</select>

<table>
  <caption><h1>Récapitulatif des membres</h1></caption>
  <thead (click)="log($event.target.textContent.toLowerCase())">
    <tr>
      <th>ID</th>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>ADMIN</th>
      <th>LOGIN</th>
      <th>CREDIT</th>
      <th>FORMATION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let membre of membres">
      <td>{{membre.id}}</td>
      <td>{{membre.nom}}</td>
      <td>{{membre.prenom}}</td>
      <td><input type="checkbox" [checked]="membre.admin"></td>
      <td>{{membre.login}}</td>
      <td>{{membre.credit}}</td>
      <td>{{membre.formation}}</td>
    </tr>
  </tbody>
</table>