
<div >
    <a routerLink=""> Page d'accueil </a>

    <div class="container" *ngIf="currentArticle">
        <section class="article">
            <app-article-detail
                [articleIn]="currentArticle">
                
            </app-article-detail>
            <button routerLink="/article/modifier/{{ currentArticle.getId() }}">
                Modifier
            </button>
        </section>
        
        <section class="commentaires">
            <a routerLink="/commentaire/ajouter">Ajouter un commentaire</a>
            <div *ngIf="!artCommentList">
                Soyez le 1er a commenter cet article !
            </div>
            <div *ngIf="artCommentList">
                <app-commentaire-item *ngFor="let comment of artCommentList"
                    [commentaireIn]="comment">
                </app-commentaire-item>
            </div>
        </section>
        
        <section class="auteur">
        
        </section>
    </div>
</div>

