.champ {
    display: block;
    margin: 5px;
}

.invalid{
    color: red;
}

.form{
    border: solid brown;
    border-radius: 18px;
    width: 300px;
    margin: auto;
    background-color: papayawhip;
}

output{
    display: block;
}

body{
    background-color: burlywood;
}

.input{
    border: outset;
    display: block;
    margin: 5px;
}

.moyen{
    color: orange;
}

.fort{
    color: green;
}

.button{
    display: inline;
}