body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	background-image: url('../img/wood-pattern.png');
	background-color: #7a5100;
}

#boardgame {
	border :3px solid black;
	padding: 15px;
	margin: 50px auto;
	box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, .6) inset;
}

#boardgame.level1 {
	background: url('../img/level1.png') no-repeat 0 0;
	background-size: 100% 100%;
}

#boardgame.level2 {
	background: url('../img/level2.png') no-repeat 0 0;
	background-size: 100% 100%;
}

#boardgame.level3 {
	background: url('../img/level3.png') no-repeat 0 0;
	background-size: 100% 100%;
}

td {
	margin: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid beige;
	border-radius: 3px;
	background: #444;
	background: linear-gradient( #555, #2C2C2C);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
				 0 -1px 0 rgba( 255, 255, 255, 0.4);
	position: relative;
	color: white;
}

td, td > * {
	text-shadow: 1px 0 0 black, -1px 0 0 rgba( 255, 255, 255, 0.2);
}
td.empty, td.bomb {
	background: none;
	border: 1px solid transparent;	
}

td.bomb:before {
	content: ' ';
	background-color: black;
	background: radial-gradient(
      circle at top 5px right 5px,
      white,
      black 50%,
      rgba(0,0,0, .5)
    );
	border-radius: 50%;
	
	width: 20px;
	height:20px;
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
}

td.bomb.boum:before {
	background-color: red;
	background: radial-gradient(
		circle at top 5px right 5px,
		white,
		red 50%,
		rgba(0,0,0, .5)
    );
}

#levels {
	width: 500px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

footer, header {
	color: white;
	position: fixed;
	left:0;
	width: 100%;
	height: auto;
	padding: 8px;
	background-color: #a5a5a5;
	z-index: 5;

	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

footer {
	bottom: 0;
	text-align: center;
}
header {
	top: 0;
}

main {
	margin: 90px 0;
	text-align: center;
}

#levels button:hover {
	cursor: pointer;
}

#levels button  {
	border: 2px solid white; 
	background-color: rgba(255,255,255, .5);
	width: 100px;
	border-radius: 18px; 
	height: 40px;
}

#levels button.activeLevel {
	background-color: rgb(92, 18, 40);
	color: white
}
