/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding: 20px;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid{
    border: 1px solid rgba(18, 134, 18, 0.575);
}