
.supplier {
    border: 1px solid black;
    padding: 15px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    align-self: center;
    justify-self: stretch;
}

.supplier > div {
    margin: 3px;
}
.closed, .open {
    text-transform: uppercase;
    font-weight: bold;
}

.closed {
    color: red;
    
}

.open {
    color: green;
}
