.volet-lateral {
    display:flex;
    flex-direction: column;
    position: sticky;
}
a.day-order{
    color: orangered;
}
a.outOfTime{
    color: grey;
    text-decoration: line-through;
    font-style: italic;
}
a.day-order.confirmed{
    color: green;
}
:disabled{
    background-color: grey;
}