<div *ngIf="selection">
    Mon detail d'article :
    <hr>
    <span class="titre">{{ selection.getTitre() }}</span>
<img class="image" src="../../../assets/img/{{ selection.getImage().moyenne }}">
    <div class="comments">{{ selection.getComments() }}</div>
    <div class="auteur-pays">
        {{ selection.getAuteur() }}, 
        {{ selection.getPays() }}</div>
    <div class="prix">€ {{ selection.getPrix() }}</div>
    <app-quantite 
        [qtteIn]="qtteIn"
        (changedQtteEvent)="relayQtteEvent($event)">
    </app-quantite>

</div>
<div *ngIf="!selection">
    Selectionner un article pour afficher son detail>
</div>

