<div *ngIf="articleSelected">
    Mon detail d'article :
    <hr>
    <div class="titre">{{ articleSelected.getTitre() }}</div>
    <img class="image" src="../../../assets/img/{{ articleSelected.getImage().moyenne }}">
    <div class="comments">{{ articleSelected.getComments() }}</div>
    <div class="auteur-pays">
        {{ articleSelected.getAuteur() }}, 
        {{ articleSelected.getPays() }}</div>
    <div class="prix">€ {{ articleSelected.getPrix() }}</div>  
</div>

<div *ngIf="!articleSelected">
    Cliquer sur un article pour afficher son detail
</div>

