<p>Mon detail d'article :</p>
<div *ngIf="selection">
    <span class="titre">{{ selection.getTitre() }}</span>
    <img class="image" src="/src/assets/img/{{ selection.getImage().moyenne }}">
    <div class="comments">{{ selection.getComments() }}</div>
    <div class="auteur-pays">
        {{ selection.getAuteur() }}, 
        {{ selection.getPays() }}</div>
    <div class="prix">{{ selection.getPrix() }}</div>
    <input type="number" placeholder="quantite" 
    [value]="quantite"
    (changeQtteEvent)="changeQte($event)">
    <button>Actualiser Panier</button>
</div>
<div *ngIf="!selection">Selectionner un article pour afficher son detail</div>

