input[type=text], input[type=password] , input[type=email],input[type=tel],input[type=date],select {
    
    width: 35%;
    padding: 7px 7px;
    margin: 1px 1px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .container {
    overflow: auto;
    padding: 8px;
    text-align: center;
  }
  
  .checkBox{
    position: absolute;
    left: 600px;
  }
  .button{
    width: 100%;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px;
    cursor:pointer


  }
  .button:hover {
    opacity: 0.9;
  }