.listSuppliers {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    justify-content: space-between;
    justify-items: center;
   margin-top: 35px;
}

@media screen and (max-width: 1000px) {
    .listSuppliers {
        grid-template-columns: 100%;
        column-gap: 0;
    }
}

.app-grid {
    display: block;
    width: 80%;
    justify-self: center;
}
