<nav class="nav-product">
    <app-nav-product
        [listSuppliers] = "listSuppliers"
    ></app-nav-product>
</nav>

<div class="detail-item">
    <app-detail-item
        [product] = "product"
    ></app-detail-item>
</div>

<div *ngIf="currentUser">
    <div *ngIf="product.options.length !== 0">
        <div *ngFor="let option of product.options">
            <input #option 
                type="checkbox" 
                [checked]="false"
                (change)="updateEndPrice($event.target.checked, option.surcout)"> 
            option : {{ option.nom }} + {{ option.surcout }} €
        </div>
    </div>

     
    Prix recalculé : {{ updatedPrice }} €
 
    <button
        (click)="addOrder()">
        AJOUTER
    </button>  
</div>