
<app-nav-product
    [listSuppliers] = "listSuppliers"
></app-nav-product>


<div class="detail-item">
    <app-detail-item
        [product] = "product"
    ></app-detail-item>
</div>

<div *ngIf="currentUser && product">
    <div *ngIf="product.options.length > 0">
        <div *ngFor="let option of product.options">
            <input  
                type="checkbox" 
                [checked]="false" 
        
                (change)="updateEndPrice($event.target.checked, option.surcout, option.id)"> 
            option : {{ option.nom }} + {{ option.surcout }} €
        </div>
    </div>
    Prix : {{ updatedPrice | currency : 'EUR':true }} 
    <button
        (click)="saveInLocalStorage()"
        [disabled]="!isOnTime">
        AJOUTER >>
    </button>  
  
    <button *ngIf="fullOrder && product.id === fullOrder.getOrder().productId"
        (click)="remove()"
        [disabled]="!isOnTime">
        RETIRER
    </button>
    <button *ngIf="fullOrder && !fullOrder.isConfirmed() && fullOrder.getProduct().id===product.id"
        routerLink="/paiement"
        [disabled]="!isOnTime">
        >> PAIMENT
    </button>
</div>


<div *ngIf="!(currentUser && product)">
    Pour commander ce sandwich, identifiez-vous !
</div>