<button type="button" mat-button (click)="onToggleDrawerClick()">
  <span class="material-icons">
    menu
  </span>
</button>

<span>Status : {{currentUser?currentUser.isAdmin?"Admin":"User":"Guest"}} </span>


<div>

    <span *ngIf='currentUser'>{{currentUser.surname}} {{currentUser.name | uppercase}} </span>

    <span *ngIf='currentUser'>/ Crédit : {{currentUser?.credit}} €</span>
    <button *ngIf='!currentUser' routerLink="/login">logIn</button>
    <button *ngIf='currentUser' (click)="onButtonLogoutClick()">Logout</button>

</div>


