<button class='toggleDrawerButton' type="button" mat-button (click)="onToggleDrawerClick()">
  <span class="material-icons">
    menu
  </span>
</button>

<span>Status : {{currentUser?currentUser.isAdmin?"Admin":"User":"Guest"}} </span>

<span *ngIf='!isOrderAvailable()'>Ouverture des commandes : <countdown [config]="{leftTime:openRemainingTime}"></countdown></span>
            
<br>
            
<span *ngIf='isOrderAvailable()'>Fermeture des commandes : <countdown [config]="{leftTime:closeRemainingTime}"></countdown></span>

<div>

    <span *ngIf='currentUser'>{{currentUser.surname}} {{currentUser.name | uppercase}} </span>
    <button *ngIf='!currentUser' routerLink="/login">logIn</button>
    <button *ngIf='currentUser' (click)="onButtonLogoutClick()">Logout</button>

</div>


