.exemple , .img {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
    margin: 25px 0;
}

.exemple > * {
    background-color: silver;
    border-radius: 20px;
    height: 100%;
    width : 100%;
    margin: 0;
    padding :20px;
    align-self: center;
    justify-self: center;
}

table {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    min-height: 25px;
    padding: 5px;
}

td table {
    margin: 20px;
}


.img img, .img iframe  {
    background-color: silver;
    border-radius: 20px;
    width : 100%;
    margin: 0;
    padding :20px;
    align-self: center;
    justify-self: center;
}

.img .vertical-img {
   height: 315px;
   width: 209px; 
}


#exemple-css-UL {
    list-style-type: circle;
}

li:first-child {
    list-style-type: disc;
}