<div class="container">
  <div class="nav-menu">
    <p>
      {{ currUser?.firstName }} {{ currUser?.familyName | uppercase }} ({{
        currUser?.role
      }})
    </p>
    <div class="menu-section">
      <h2>MY PROFIL</h2>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/users/{{ currUser?.id }}"
          (click)="onSelectMenu('profil')"
        >
          Personal information
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/users/{{ currUser?.id }}/comments/pending"
          (click)="onSelectMenu('pending-comments')"
        >
          Pending comments
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/users/{{ currUser?.id }}/comments/published"
          (click)="onSelectMenu('left-comments')"
        >
          Left comments
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </div>

    <div class="menu-section" *ngIf="currUser?.role === 'author'">
      <h2>MY ARTICLES</h2>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles/add"
          (click)="onSelectMenu('author-new-article')"
        >
          Create new article
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles/draft"
          (click)="onSelectMenu('author-draft-articles')"
        >
          Work in progress
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles/pending"
          (click)="onSelectMenu('author-pending-articles')"
        >
          Pending approval articles
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles/published"
          (click)="onSelectMenu('author-published-articles')"
        >
          Published articles
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </div>

    <div class="menu-section" *ngIf="currUser?.role === 'editor'">
      <h2>ASSESSMENT</h2>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles/pending"
          (click)="onSelectMenu('editor-pending-articles')"
        >
          Pending article reviews
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/users"
          (click)="onSelectMenu('editor-pending-author')"
        >
          Pending author requests
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </div>
    <div class="menu-section" *ngIf="currUser?.role === 'editor'">
      <h2>SETTINGS</h2>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/private/{{ currUser?.id }}/articles"
          (click)="onSelectMenu('editor-published-articles')"
        >
          Articles
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/users"
          (click)="onSelectMenu('editor-authors')"
        >
          Authors
        </a>
        <mat-divider></mat-divider>
        <a
          mat-list-item
          routerLink="/private/tag"
          (click)="onSelectMenu('editor-tags')"
        >
          Tags
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </div>
  </div>

  <div class="content">
    content
    <app-user-form
      *ngIf="selectedMenu === 'profil'"
      [user]="currUser"
      (userInfoChange)="saveUser($event)"
    ></app-user-form>
    <app-comment-item
      *ngIf="selectedMenu === 'pending-comments'"
    ></app-comment-item>
    <app-comment-item
      *ngIf="selectedMenu === 'left-comments'"
    ></app-comment-item>
    <app-article-form
      *ngIf="selectedMenu === 'author-new-article'"
      [article]=""
      [user]="currUser"
      (articleInfoChange)="saveArticle($event)"
    ></app-article-form>

    <app-article-item
      *ngIf="
        selectedMenu === 'author-draft-articles' ||
        selectedMenu === 'author-pending-articles' ||
        selectedMenu === 'author-published-articles' ||
        selectedMenu === 'editor-pending-articles' ||
        selectedMenu === 'editor-published-articles'
      "
      [articleList]="filteredList"
      [columnsToShow]="columnsToShow"
      [currUser]="currUser"
      (articleChange)="saveArticle($event)"
    >
    </app-article-item>
  </div>
</div>

<!-- <button 
    mat-raised-button
    color="link"
    (click)="getAllLogin()">
    Show all users login
</button>

<div class="loginList" *ngIf="isOkToShow">
    <mat-list *ngFor="let item of list">
        <mat-list-item> {{ item }} </mat-list-item>
    </mat-nav-list>
    <div *ngIf="list.length === 0">
        The DB is empty, no user registered
    </div>
</div>
<div class="error" *ngIf="!isOkToShow">
    {{ error_message }}
</div> -->
