
<p> hello I'm Private Page</p>
<!-- <div >

  <div>
    <app-private-body-section></app-private-body-section> -->
   <!-- <app-user-form
      *ngIf="selectedMenu === 'profil'"
      [user]="currUser"
      (userInfoChange)="saveUser($event)"
    ></app-user-form>
    <app-comment-item
      *ngIf="selectedMenu === 'pending-comments'"
    ></app-comment-item>
    <app-comment-item
      *ngIf="selectedMenu === 'left-comments'"
    ></app-comment-item>
    <app-article-form
      *ngIf="selectedMenu === 'author-new-article'"
      [article]=""
      [user]="currUser"
      (articleInfoChange)="saveArticle($event)"
    ></app-article-form>

    <app-article-item
      *ngIf="
        selectedMenu === 'author-draft-articles' ||
        selectedMenu === 'author-pending-articles' ||
        selectedMenu === 'author-published-articles' ||
        selectedMenu === 'editor-pending-articles' ||
        selectedMenu === 'editor-published-articles'
      "
      [articleList]="filteredList"
      [columnsToShow]="columnsToShow"
      [currUser]="currUser"
      (articleChange)="saveArticle($event)"
    >
    </app-article-item>  -->
  <!-- </div>

</div> -->

