

<div *ngIf='listArticles' class="listArticles" [style.height]="this.height+'px'">
    <a class="article" *ngFor="let article of listArticles" routerLink='/article/{{ article.id }}'>
        <div class="header-title">
            <div class="header"></div>
            <div class="title">{{ article.title }}</div>
        </div>
        <div class="content">{{ article.content | truncate:[800, '...'] }}</div>
        <div class="date-author">{{ article.author?.firstname }} {{ article.author?.familyname }} - {{ article.date | date : 'd/M/yyyy' }}</div>
    </a>
</div>
{{ this.height }}
<div *ngIf='!listArticles'>
    Aucun article
</div>