nav.nav-product {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 15px 0
}

a {
   border:1px solid black;
    width: 200px;
    padding: 10px;
    display: inline-block;
}