<div class="container">
<h1>Sign In</h1>

<form [formGroup]="loginForm" (ngSubmit) = "onSubmitForm()"  >

    <div class="form-group form-element form-username">
        <label for="username" >Pseudo</label>
        <input  type="text" name="username" id="username" data-pristine="true" 
         required 
        class="form-control" formControlName="username">
        <div *ngIf="loginForm.controls.username.invalid">Le pseudo est requis</div>
    </div>
    
    <div  class="form-group form-element form-username">
        <label for="password">Mot de passe</label>
        <input  type="password" name="password" id="password" data-pristine="true" 
        required 
        class="form-control"  formControlName="password">
        <div *ngIf="loginForm.controls.username.invalid">Le mot de passe est requis</div>
    </div>
    
    <div class="form-group"> 
        <button  
        type="submit"   class="submit-button"
            [disabled]="loginForm.invalid"
        >Envoyer</button>
    
    </div>

    
</form>
<div >
    <button class="submit-button"
        (click) = "signInGoogle()"
    >S'identifier via google</button>
</div>


</div>