.form-element, .submit-button {
    display: block;
    margin: 10px auto;
    max-width: 300px;
}


.container {
    background-color: rgba(255,255,255,.8);
    width: 90%;
    min-height: 60%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    max-width: 1280px;
}
