<p>
  {{ currUser?.firstName }} {{ currUser?.familyName | uppercase }} ({{
    currUser?.role
  }})
</p>
<div class="menu-section">
  <h2>MY PROFIL</h2>
  <mat-nav-list>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLink="/private/{{ currUser?.id }}/users/{{ currUser?.id }}"
    >
      Personal information
    </a>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLink="/private/users/{{ currUser?.id }}/comments/pending"
    >
      Pending comments
    </a>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLink="/private/users/{{ currUser?.id }}/comments/published"
    >
      Left comments
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>

<div class="menu-section" *ngIf="currUser?.role === 'author'">
  <h2>MY ARTICLES</h2>
  <mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/{{ currUser?.id }}/articles/add">
      Create new article
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/{{ currUser?.id }}/articles/draft">
      Work in progress
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/{{ currUser?.id }}/articles/pending">
      Pending approval articles
    </a>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      routerLink="/private/{{ currUser?.id }}/articles/published"
    >
      Published articles
    </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>

<div class="menu-section" *ngIf="currUser?.role === 'editor'">
  <h2>ASSESSMENT</h2>
  <mat-nav-list>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/{{ currUser?.id }}/articles/pending">
      Pending article reviews
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/users"> Pending author requests </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
<div class="menu-section" *ngIf="currUser?.role === 'editor'">
  <h2>SETTINGS</h2>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item routerLink="/private/{{ currUser?.id }}/articles">
      Articles
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/users"> Authors </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/private/tag"> Tags </a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
