.container-sidemenu {
  width: 95%;
  min-width: 200px;
  /* box-shadow: 3px 2px 2px rgba(0, 0, 0, .3); */
  padding: 5px 5px;
  margin: 10px 10px;
  /* background-color:gray; */
  min-height: 800px;
  color: black;
}

.menu-section {
  margin: auto;
  width: 95%;
}


