#formulaire{
    
    display: flex;
    flex-direction: column;
    max-width: 300px;

    
}
#formulaire>*{
    
    display: flex;
    flex-direction: column;
    margin : 5px 0px;
}
.valid{
    
    background-color: green;
    
}
.invalid{
    
    background-color: red;
    
}
.hidden{
    
    display:none;
    
}
.errorDisplay{
    
    color: red;
    
}
.passSignal{
    
    height: 10px;
    width: 10px;
    border: solid grey;
    width: 80px;
    
}
#genderBox{
    
    border-bottom :solid;
    border-top: solid;
    border-color: lightgray;
    padding: 5px;
}
#signalBox{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#signalBox p{
    
    margin: 5px;
    
}
/*
#passLow{
    
    background-color: red;
    background: none;
    
}
#passMedium{
    
    background-color: orange;
    background: none;
}
#passStrong{
    
    background-color: green;
    background: none;
    
}*/