.header {
  overflow: hidden;
  background-color: #fff5d7;
  /*background-color: #ff414e;*/
}

.header a {
  float: left;
  color:  #393f4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  /*background-color: #e9e8e8;*/
  background-color:#ff5e6c;
  color:  #fff5d7;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.img{
  width: 40px;
  height: 45px;
  position: absolute;
  right: 18px;
  top: 10px;
}

.timer{
  position: absolute;
  right: 120px;
  top: 10px;
}
