.header {
  overflow: hidden;
  background-color: #75d9f1;
  /*background-color: #ff414e;*/
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  /*background-color: #e9e8e8;*/
  background-color:#FF5A09;
  color:  #393939;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.img{
  width: 40px;
  height: 45px;
  position: absolute;
  right: 18px;
  top: 10px;
}
