<nav>
    <a routerLink=''        >Home</a>
    <a routerLink='/admin'  >Admin</a>


    <a routerLink='/admin/users'  >USERS</a>

    <a routerLink='/admin/authors'  >AUTHORS</a>

    <a routerLink='/admin/articles'  >ARTICLES</a>

    <div *ngIf="!logged" >
        <button 
            routerLink='/sign-in'
        >Sign In</button> | 
        <button 
            routerLink='/sign-up'
        >Sign Up</button>
    </div>

    <div *ngIf="logged" >
        <button 
            (click) = 'logout()'
        >LogOut</button>
    </div>

</nav>
