body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 2rem;
}

input, select{
    width: 18rem;
    margin-bottom: 1rem;
}

.div_gender, .div_job{
    border-top: 1px solid rgb(153, 153, 153);
    padding-top: 1rem;
}

.div_gender > input{
    width: 2rem;
}

.div_job > input{
    width: 2rem;
}

.div_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    color: white;
    background-color: rgb(79, 79, 255);
    font-weight: bold;
    width: 18rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 207);
    margin-top: 1.5rem;
}