<form >
    <div class="form-element form-name">
        <label  for="name">Nom</label>
        <input class="form-control" type="text" name="name"
            placeholder = "Nom (obligatoire)" required
            [(ngModel)]="product.name" name="name">
        <div *ngIf = "product.name === ''"
            class="product-form__error alert alert-danger">
            <p>Le nom est requis</p>
        </div>
    </div>

    <div class="form-element form-description">
        <label for="name">Description</label>
        <textarea name="description" 
            class="form-control" data-pristine="true" 
            placeholder = "Description (obligatoire)"
            required minlength="3" maxlength="100"
            [(ngModel)]="product.description" 
            name="description"
        ></textarea>
        <div *ngIf = "product.description === ''"
            class="product-form__error alert alert-danger">
            <p>La description est requise</p>
        </div>
    </div>


    <div class="form-element form-price">
        <label for="price">Prix</label>
        <input type="text" name="price" 
            placeholder = "Prix (obligatoire)"
            required min
            [(ngModel)]="product.price" class="form-control" 
            data-pristine="true" 
            >
        <div *ngIf = "!(product.price > 0)"
            class="product-form__error alert alert-danger">
            <p>Le prix est requis</p>
        </div>
    </div>
    
    <div class="product-form__actions"><!--(click) = "createOption()"-->
        <button 
       
        id="create_button"
        type="button"
        class="btn btn__ok"
        >Ajouter une option
        </button>

    </div>
    
    <div class="admin-buttons"  >
        <div class="product-form__actions">
            <button *ngIf = "product.id === 0"
            (click) = "createProduct()"
            id="create_button"
            type="button"
            class="btn btn__ok"
            >Ajouter
            </button>

        </div>
    
        <button class="btn btn-danger"
            (click) = "navigateToAdmin()">Annuler
        </button>
        <button  *ngIf = "product.id !== 0"
            (click) = "saveChanges()"
            id="update_button"
            type="button"
            class="btn btn-dark"
            >Enregistrer
          </button>
      </div>
</form>
