<button routerLink='/usersList' >retour à la liste des utilisateurs</button>

<form>

    <label>
        Nom :
        <input value='{{user?.name}}'>
    
    </label>
    <br>
    <label>
        Prénom :
        <input value='{{user?.surname}}'>
    
    </label>
    <br>
    <label>
        Formation :
        <input value='{{user?.formation}}'>
    
    </label>
    <br>
    <label>
        Login :
        <input value='{{user?.login}}'>
    
    </label>
    <br>
    <label>
        Mot de passe :
        <input value='{{user?.password}}'>
    
    </label>
    

</form>
<button *ngIf='editMode === "create"'(click)='onCreateUserClick()'>Créer utilisateur</button>
<button *ngIf='editMode === "update"' (click)='onSaveUserClick()'>Enregistrer les modifications</button>
<button *ngIf='editMode === "update"' (click)='onDeleteUserClick()'>Supprimer l'utilisateur</button>



