html, body, main {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    font-family:  'Comic Neue',Arial, Helvetica, sans-serif;
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f3f3f3 0%, #f3f3f3 50%, #f8e6d8 50.01%, #f8e6d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f3f3f3 0%,#f3f3f3 50%,#f8e6d8 50.01%,#f8e6d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f3f3f3 0%,#f3f3f3 50%,#f8e6d8 50.01%,#f8e6d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1 {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 200px;
    margin: -265px 0 0 -100px;
    display: block;
    background-color: #282828;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    color: white;
}

form {
    position: relative;
    width: 900px;
    padding: 50px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    z-index: 5;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 60%, #ffffff 60.01%, #fbc153 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 60%,#fbc153 60.01%,#fbc153 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#ffffff 60%,#fbc153 60.01%,#fbc153 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 5px 5px 15px rgba(0,0,0, .5);
}

form > * {
    margin: 0 0 12px 0
}

#leftPart, #rightPart {
    border: 1px solid red;
}
#rightPart {
    background-color: white;
}

input, select, #sugestButton {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    
    font-family: 'Comic Neue',  Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    
}
#sugestButton {
    margin : 10px 0;
    background-color:rgba(255,255,255, .1);
}


select option {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;

}

select option:hover {
    background-color: orange;
    text-align: center;
}


input[type=submit] {
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 0; 
    right: 0;
    border-radius: 100px 0 0 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size:50px;
    padding: 20px 0 0 35px;
}

#results {
    margin-top: 25px;
    background-color: rgba(255,255,255, .1);
    padding: 15px 15px 25px 15px; 
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
    display: none;
    grid-template-columns: 59% 39%;
    grid-gap: 2%;
}

#results.active {
    display: grid;
}

#results p:nth-of-type(2n) {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 3px;
    display: block;
}
/*
#cce4d7
#054149
#282828
*/


#results > * {
    display: block;
    margin:0 0 5px 0;
    padding: 0;
    height: 25px;
}

#results > output {
    border-radius: 3px;
    background-color: rgba(255,255,255, .3);
}

form {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}

