form {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

#leftPart, #rightPart {
    width: 45%;
    align-self: center;
}

@media screen and (max-width : 750px) {
    form {
        display: block;
        width: 90%;
        min-width :300px;
    }
    #leftPart, #rightPart {
        width: 100%;
        margin: 0 auto;
        max-width: 450px;
    }
}

#inside {
    background-color: white;
    border: 1px solid red;
}

label {
    display: none;
}

.form-element {
    position: relative;
}

.form-element.valide .valide-ok{
    display: block
}

.form-element.valide .valide-ko{
    display: none
}

.form-element.invalide .valide-ok{
    display: none;
}

.form-element.invalide .valide-ko{
    display: block
}
.error-message-container {
    margin-bottom: 6px;
    text-align: right;
}
.form-element .error-message {
    display: none;
}

.form-element.error-difference .error-message.error-difference,
.form-element.error-not-available .error-message.error-not-available,
.form-element.error-min-age .error-message.error-min-age,
.form-element.error-max-age .error-message.error-max-age,
.form-element.error-format .error-message.error-format,
.form-element.error-required .error-message.error-required,
.form-element.error-min-length .error-message.error-min-length,
.form-element.error-max-length .error-message.error-max-length {
    display: block;
}

.valide-ko,
.valide-ok {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
    color: white;
    text-align: center;
    line-height: 30px;
    border: 2px solid white;
}

.valide-container {
    position: absolute;
    top:-15px;
    left: -20px;
}

.valide-ok {
    background-color:green;
}

.valide-ko {
    background-color:rgb(178,34,34);
}

.error-message-container {
    min-height: 25px;
}

.error-message {
    display: block;
    border-radius:3px;
    color: white; background-color:rgb(178,34,34);
    padding: 3px 8px;
    margin: 2px 0
}

.form-role label,
.form-sex label {
    display: inline-block;
}

.strength, #radioButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#radioButtons {
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 5px 0;
}

#radioButtons > * {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.force {
    display: inline-block;
    width: 30%;
    height: 15px;
    background-color:silver;
    border: 2px solid white;
   
    text-align: center;
    top: 15px;
    text-transform: uppercase;
    font-size: 13px;
}

#weak.active {
    background-color: rgb(178,34,34);
}
#medium.active {
    background-color: orange;
}
#strong.active {
    background-color: green;
}

.form-password input{
    margin-bottom: 10px;
}

.form-sex input[type=radio] { 
    display: inline-block;
}

.form-role input[type=checkbox] { 
    display: inline-block;
    width :10%;
}

.form-role #checkboxes{
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 20px;
}

.checkboxButton {
    padding: 2px 2px 2px 50px;
}

.form-role .checkboxButton:first-child,
.form-role .checkboxButton:last-child {
    padding: 2px 2px 2px  0;
}

.form-avatar .avatars,
.form-avatar .avatar{
    display: inline-block;
}
.form-avatar .avatars {
    width: 60%;
    margin-top: 80px;
}

.form-avatar .avatars img {
    width: 100%;
}

.form-avatar .avatar {
    width: 132px;
    height: 140px;
    overflow:hidden;
    position: relative;
}
.form-avatar .avatar img {
    width: 400%;
    position: absolute;
    top: 0;
    left: -400%;
}



.form-element {
    border: 1px solid silver;
    margin: 5px 0;
}

.form-avatar .form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-avatar .avatar {
    border: 5px;
    background-clip: padding-box; /* !importanté */
    border: solid 5px transparent; /* !importanté */
    background-color:rgba(0,0,0,.5);
    box-sizing: border-box;
}

/*.form-avatar .avatar::before {
    content: '123';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px; 
    background: linear-gradient(to right, red, #fbc153);
    background-color:green;
    border:1px solid red;
    display: block;
}*/

form.incomplete #leftPart,
form.incomplete #rightPart,
form.complete #infos-part {
    display: block;
}

form.complete #leftPart,
form.complete #rightPart,
form.incomplete #infos-part {
    display: none;
}
