
    <div class="pizza-form">
      <form >
        <label>
          <h4>Pizza name</h4>
          <input
            type="text"
            [value]='pizza.name'
            (change)='updatePizzaName($event.target.value)'
            placeholder="e.g. Pepperoni"
            class="pizza-form__input"
            [class.error]="true">
          <div
            class="pizza-form__error">
            <p>Pizza must have a name</p>
          </div>
        </label>

        <pizza-display [pizza]='pizza'></pizza-display>

        <label>
          <h4>Select toppings</h4>
        </label>
        <div class="pizza-form__list">
          <pizza-toppings [toppings]='toppings' [value]='pizza.toppings' (toppingsChange)='updatePizzaToppings($event)'>
          </pizza-toppings>
        </div>

        <div class="pizza-form__actions">
          <app-pizza-resume-pop-up *ngIf='isNewPizza()' [mode]='mode' [pizza]='pizza' (save)='onClickCreateButton()'></app-pizza-resume-pop-up>
          <app-pizza-resume-pop-up *ngIf='isNewPizza() === false' [mode]='mode' [pizza]='pizza' (save)='onClickUpdateButton()'></app-pizza-resume-pop-up>
            <button
            (click)='onClickReturnButton()'
              type="button"
              class="btn btn__return"
              >
           
              Back
            </button>

              <!-- visible que dans le cas d'une pizzas existante -->
            <button
            (click)='onClickDeleteButton()'
              type="button"
              class="btn btn__warning"
              *ngIf='isNewPizza() === false'
              >
            <!-- visible que dans le cas d'une pizzas existante -->
              Delete Pizza
            </button>
        </div>
      </form>
    </div>
  