<form>
  <span>NOM:</span><input #nom type="text" maxlength="50" minlength="2">
  <div *ngIf="checkInputEmpty(nom.value)" class="error_empty">Le nom ne peut pas être vide</div>
  <span>PRENOM:</span><input #prenom type="text" maxlength="50" minlength="2">
  <div *ngIf="checkInputEmpty(prenom.value)" class="error_empty">Le Prenom ne peut pas être vide</div>
  <span>LOGIN:</span><input #login type="text" maxlength="50" minlength="2">
  <div *ngIf="checkInputEmpty(login.value)" class="error_empty">Login ne peut pas être vide </div>
  <span>PASSWORD:</span><input #password type="text" maxlength="50" minlength="2">
  <div *ngIf="checkInputEmpty(password.value)" class="error_empty">Password ne peut pas être vide</div>
  <div>
    <label for="pet-select">FORMATION:</label>
    <select name="formation" id="formation">
      <option value="INTRO_PROG">INTRO_PROG</option>
      <option value="JS_FULLSTACK">JS_FULLSTACK</option>
    </select>
  </div>
  <button >CREER</button>
</form>
