<form>
  <span>NOM:</span><input type="text" maxlength="50" minlength="2">
  <span>PRENOM:</span><input type="text" maxlength="50" minlength="2">
  <span>LOGIN:</span><input type="text" maxlength="50" minlength="2">
  <span>PASSWORD:</span><input type="text" maxlength="50" minlength="2">
  <div>
    <p>ADMIN?</p>
    <div>
      <input type="radio" id="oui" name="admin" value="true">
      <label for="oui">OUI</label>
    </div>
    <div>
      <input type="radio" id="non" name="admin" value="false" checked>
      <label for="non">NON</label>
    </div>
  </div>
  <div>
    <label for="pet-select">FORMATION:</label>
    <select name="formation" id="formation">
      <option value="INTRO_PROG">INTRO_PROG</option>
      <option value="JS_FULLSTACK">JS_FULLSTACK</option>
    </select>
  </div>
  <button>CREER</button>
</form>
