<form>
    <div>
        <label>
            Nom :
        </label>
        <input type="text" formControlName="name">
    </div>

    <div>
        <label>
            login :
        </label>
        <input type="text" formControlName="login">
    </div>

    <div>
        <label>
            Mot de Passe :
        </label>
        <input type="text" formControlName="password">
    </div>

    <div>
        <label>
            Adresse Mail :
        </label>
        <input type="text" formControlName="email">
    </div>
</form>
