<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div>
        <label>
            Nom :
        </label>
        <input type="text" formControlName="name">
    </div>

    <div>
        <label>
            login :
        </label>
        <input type="text" formControlName="login">
    </div>

    <div>
        <label>
            Mot de Passe :
        </label>
        <input type="text" formControlName="password">
    </div>

    <div>
        <label>
            Adresse Mail :
        </label>
        <input type="text" formControlName="email">
    </div>

    <div>
        <label>
            Type de compte :
        </label>
        <input type="radio" name="role" value="premium" isChecked><label>Devenir Premium!</label>
        <input type="radio" name="role" value="user" ><label>non merci</label>
    </div>
    <button type="submit">Enregistrer votre profil</button>
    <button>Retour</button>
</form>
