<div>
  <div *ngIf="articleList?.length === 0">Nothing to show</div>
  <mat-table
    *ngIf="articleList?.length > 0"
    [dataSource]="articleList"
    class="mat-elevation-z8"
  >
    <ng-container *ngFor="let column of headerList" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
      <mat-cell
        *matCellDef="let article"
        routerLink="/private/articles/{{ article?.id }}"
      >
        {{ article[column] }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToShow"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToShow"></mat-row>
  </mat-table>
</div>
