
<div class="container">

  <div>
    <button mat-raised-button color="primary"
    (click)="onEdit()">Edit</button>̵
  </div>

  <div>
    <button mat-raised-button color="primary">Delete</button>̵
  </div>

  <!-- <div>
    <button mat-raised-button color="primary" routerLink="">Publish</button>̵
  </div>

  <div>
    <button mat-raised-button color="primary" routerLink="">Archive</button>̵
  </div>

  <div>
    <button mat-raised-button color="primary" routerLink="">Unpublish</button>̵
  </div> -->


</div>
