.achat {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 10fr;
}
.shop {
    grid-column: 2;
    grid-row: 2 / 3;
}
.panier {
    grid-column: 2;
    grid-row: 1;
}
.sel_item {
    grid-column: 1;
    grid-row: 1 / 3;
}
.affich_panier {
    display: none;
}