<div class="full-container" *ngIf="article">
  <app-tool-bar *ngIf="isPrivate" class="tool-bar"
    [currObj]="article"
  ></app-tool-bar>

  <div class="container-article">
    <div class="article-title">{{ article.title | uppercase }}</div>
    <div class="article-img">
      <img [src]="article.imageUrl" />
    </div>
    <div class="article-content">{{ article.content }}</div>
    <div class="article-auth-date">
      {{ article.author.firstName.concat(article.author.familyName) }}
      {{ article.publiDate | date: shortDate }}
    </div>
  </div>

  <div *ngIf="!isPrivate" class="container-comments" >
    <p>Comments</p>
    <div>No comments yet</div>
    <!-- to be added -->
  </div>
</div>
