@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;900&display=swap');
body {
    font-family: 'Exo 2', sans-serif;
    background-color:    #fff5d7;
    background-image: url('./assets/img/background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container-white {
    background-color: rgba(255, 255, 255, 0.65);
}
