header {
  margin: 10px auto;
  height: 200px;
  width: 95%;
  max-width: 1280px;
  border: dotted;
  box-sizing: border-box;

}

.main-private, .main-public {
  margin: 10px auto;
  height: 100%;
  width: 95%;
  max-width: 1280px;
  border: dotted;
  box-sizing: border-box;
}

.main-private {
  display: grid;
  grid-template-columns: 20% auto;
}

.nav-menu, .body {
  padding: 5px auto ;
  width: 100%;
  height: 90%;
  border: dashed;
  margin: 10px auto;
  box-sizing: border-box;
}

