<p>admin-history-page works!</p>
<h1>
    Historique de toutes les commandes 
</h1>
<table *ngIf="ordersHistory">
    <tr>
        <th class="th-date">DATE DE COMMANDE</th>
        <th class="th-product">PRODUIT</th>
        <th class="th-options">SUPPLEMENTS</th>
        <th class="th-price">PRIX</th>
        <th class="th-payed">PAIEMENT</th>
        <th class="th-button"> - </th>
    </tr>
   <tr *ngFor = "let histOrder of ordersHistory">
   <!--      <td>{{ histOrder.getOrder().date.toLocaleDateString() }}</td>
        <td>{{ histOrder.getProduct().name }}</td>
        <td>{{ optionsToString(histOrder.getSelectedOptions()) }}</td>
        <td>{{ histOrder.getTotalPrice() }} €</td>
        <td>{{ histOrder.getOrder().isPayed ? "cash" : "a credit" }}</td>
        <td class="td-button">
            <button 
            (click)="goToProduct(userHistOrder.getProduct().id,userHistOrder.getSelectedOptions())">
                Commander
            </button>
        </td>-->
    </tr>
</table>
