*{
    min-height: 1.5rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
    
}
h1 {
    text-align: center;
}
h2{
    font-size: 15px;
}
#myform{
    background-color:#400d40;
    width: 400px;
    height: auto;
    align-content: center;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
}
.form-element {
    align-items: center;
    text-align: justify;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}
#date { 
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.error-container {
    font-style: italic;
    color: tomato;
    padding-top: 10px;
}
div.field-ok, div.field-ko {
    float: right;
}
input[type=submit] {
    width: 80px;
    height: 100px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

