*{
    min-height: 1.5rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color:rgb(220, 208, 182);
    background-color:rgb(220, 208, 182);
    width: 100%;
    height: 100%;
    
}
h1, h2 {
    text-align: center;
    color:white;
}
h2{
    font-size: 15px;
}
#myform{
    background-color:#400d40;
    width: 400px;
    height: auto;
    align-content: center;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    position:absolute;
    top: 20%;
    left:30%;
    box-shadow: 15px 10px 20px  rgba(193, 130, 238, 0.687);
}
.form-element {
    align-items: center;
    text-align: justify;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}
#date { 
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#age{
    display:block;
    width: 70px;
    float: right;
    font-size: 20px;
}
.error-message {
    display: none;
    font-style: italic;
    color: tomato;
    padding-top: 10px;
}
.form-element.required .msg-required,
.form-element.invalide .msg-invalide {
    display:block;
}
}
input[type=submit] {
    width: 80px;
    height: 100px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

