.articles{
    border: 2px solid red;
    margin-right: 1500px;
    background-color: beige;
    float:left;
    overflow-y: scroll;
    height: 685px;
}
.article{

}
img{
    margin: 10px;
}
span{
    margin: 10px;
}
.divArticle{
    border: 2px solid red;
    margin-left: 360px;
    margin-bottom: -210px;
    position: absolute;
    float:right;
}
.panier{
    border: 2px solid red;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    text-align: center;
    border: 2px solid red;
}