
.wrap-detail, .view-recap {
    color: white;
    padding: 75px 0;
    background: url('../img/wave-545048_1920.jpg') black no-repeat center center;
    background-size: cover;
    font-family: 'Gafata', sans-serif;
}

.block-detail {
    background-color: rgba(0,0,0, 0.7);
    border-right: 8px solid white;
    max-height: 40vh;
    grid-template-columns: 31% 64%;
    grid-gap: 2%;
    padding: 25px;
    text-align: right;
    align-content: center;

    grid-template-areas: 
    "img info"
    "img form";
}

.block-detail img { 
    border: 8px solid white;
    box-sizing: border-box;
    align-self: center;
    width: 100%;
    max-width: 35vh;
    max-height: 35vh;
    grid-area: img;
}
.block-detail .info-detail {
    align-self: center;
    justify-self: right;
    grid-area: info;
}

form {
    grid-area: form;
}

.recap-bottom button,
.block-detail button, 
.block-detail input {
    font: 20px/35px arial, helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    border: 3px solid whitesmoke;
    width: 40%;
    max-width: 215px;
    padding: 3px;
    margin: 35px 0 15px  30px ;
    box-sizing: border-box;
    text-align: center;
}

.block-detail button {
    background-color: black;
    color: whitesmoke;
}

.block-detail input {
    background-color: rgba(255,255,255, .6);
    color: black;
}

.block-detail h2{
    font: 45px/50px 'Gafata', sans-serif;
}

.block-detail .comment, 
.block-detail .origin {
    padding: 5px;
    font: 20px/25px 'Gafata', sans-serif;
    
}

@media screen and (max-width: 990px) {
    .block-detail {
        grid-template-columns: 36% 60%;
        grid-template-areas: 
    "img info"
    "form form";
    }
    
    .block-detail h2{
        font: 30px/35px 'Gafata', sans-serif;
    }
    
    .block-detail .comment, 
    .block-detail .origin {
        padding: 5px;
        font: 16px/20px 'Gafata', sans-serif;
        
    }
}

@media screen and (max-width: 600px) {
        .block-detail {
        grid-template-columns: 100%;
        grid-gap: 2%;
        padding: 25px;
        grid-template-areas: 
    "img "
    "info"
    "form";
    }

    .block-detail h2{
        font: 20px/25px 'Gafata', sans-serif;
    }
    
    .block-detail .comment, 
    .block-detail .origin {
        padding: 2px;
        font: 14px/18px 'Gafata', sans-serif;
    }
    .block-detail  img {
        max-width: 50%;
    }

    .block-detail button, 
    .block-detail input {
        font: 20px/25px arial, helvetica, sans-serif;
        font-variant: small-caps;
        font-weight: bold;
        border: 3px solid whitesmoke;
        max-width: 215px;
        padding: 3px;
        margin: 5px 0 15px 5px ;
        box-sizing: border-box;
        text-align: center;
    }
    .block-detail button {
        width: 45%;
    }
    .block-detail input {
        width: 45%;
        
    }
}

@media screen and (max-width: 400px) {
  
    .block-detail button {
        width: 65%;
    }
    .block-detail input {
        width: 25%;
        
    }
}
    