<div class="container-signin">
  <div>
    <button
    mat-raised-button
    type="button"
    color="secondary"
    (click)="initGoogleAuth()"
  >
    Authenticate via Google
  </button>
  </div>

  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmitForm()">
    <!-- LOGIN -->
    <mat-form-field appearance="fill">
      <mat-label for="login"> Login </mat-label>
      <input matInput type="text" name="login" formControlName="login" />
      <mat-error
        *ngIf="
          credentialsForm.controls.login.errors?.required &&
          (credentialsForm.controls.login.dirty ||
            credentialsForm.controls.login.touched)
        "
        class="error"
      >
        Login is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />
    <!-- PASSWORD -->
    <mat-form-field appearance="fill">
      <mat-label for="password"> Password </mat-label>
      <input
        matInput
        name="password"
        type="password"
        formControlName="password"
      />
      <mat-error
        class="error"
        *ngIf="
          credentialsForm.controls.password.errors?.required &&
          (credentialsForm.controls.password.touched ||
            credentialsForm.controls.password.dirty)
        "
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />
    <div>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="credentialsForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<!-- <br>
<div>
    Form is Valid ? {{ credentialsForm.valid }}
</div>
<pre>
    {{ credentialsForm.value | json }}
</pre> -->
