<p>main-view works!</p>

<div>
  <button (click)="updateEvents()" id="updateEvents">Update events</button>
  <button (click)="updateHeader()" id="updateHeader">Update header</button>
  <full-calendar [options]="options"
    *ngIf="options"
    #fullcalendar
    [editable]="true"
    [events]="eventsModel"
    [header]="options.header"
    [locales]="options.locales"
    [locale]="options.locale"
    [customButtons]="options.customButtons"
    (dateClick)="dateClick($event)"
    (eventDragStop)="eventDragStop($event)"
    [plugins]="options.plugins"
    (dayRender)="dayRender($event,el)"
    (eventClick)="eventClick($event)"
    [columnHeaderHtml]="options.columnHeaderHtml"
  ></full-calendar>
  
  <div #external>
    <p>
      <strong>Draggable Events</strong>
    </p>
    <div class='fc-event'>My Event 1</div>
    <div class='fc-event'>My Event 2</div>
    <div class='fc-event'>My Event 3</div>
    <div class='fc-event'>My Event 4</div>
    <div class='fc-event'>My Event 5</div>
  </div>
</div>


<!-- <div *ngIf="events.length !== 0">
  <div *ngFor="let event of events">
    <p>{{ event.id }}</p>
    <p>{{ event.name }}</p>
    <p>{{ event.description }}</p>
    <p>{{ event.tags[0] | json }} {{ event.tags[1] | json }} </p>
    <p>{{ event.address | json }}</p>
  </div>
</div>


<div *ngIf="events.length === 0">
  There's no events 
</div> -->