.product {
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin-bottom: 25px;
    min-height:125px;
    padding: 15px 15px;
    background-color: whitesmoke;
    display: inline-block;
    width: 100%;
    box-shadow: 3px 2px 2px rgba(0,0,0,.3);
    font: 18px/25px'Oswald', sans-serif;
    font-size: 20px;
    position: relative;
}

.product:hover,.product:focus,.product:active { 
    transform: scale(1.05);
    cursor: pointer;
}
.product .product-name {
    
}

.product .product-price {
    position: absolute;
    bottom: 15px;
    right: 15px;
}