<img #userImg  id='userImg'  src="" alt="NO image" *appLoadingSquare="false">

<div class="directiveTest" appBlockHeightTransform>

    <p>{{"Magna deserunt cupidatat duis ea nostrud proident quis aute in sunt aute ut. Eu enim commodo laborum eiusmod officia. Non duis dolor pariatur aliquip qui anim ut minim incididunt ad ex culpa pariatur. Incididunt nostrud est ea tempor dolore ea est officia nisi irure.

Deserunt est laborum tempor eiusmod nostrud qui mollit proident quis labore ullamco nisi Lorem. Id nisi fugiat elit mollit elit. Fugiat cupidatat incididunt adipisicing deserunt ipsum adipisicing aute dolor proident. Irure incididunt cupidatat deserunt ipsum nulla enim irure cupidatat aliquip.

Veniam mollit ipsum tempor pariatur nostrud laborum adipisicing irure. Deserunt deserunt ad dolore do dolor id in elit ea proident cillum velit. Ad Lorem aliquip mollit dolor proident consequat esse sunt excepteur commodo veniam tempor consectetur. Qui non eu elit excepteur ipsum occaecat enim. Laboris dolor aliqua id fugiat. Ex mollit consectetur minim ad excepteur amet nulla." | truncText:300}}</p>

</div>
