
<nav class="volet-lateral">
    <!--  user unknown -->
  <app-authentication-form *ngIf="currentUser === null"
      [userList]="userList"
      (UserChange)="updateCurrentUser($event)">
  </app-authentication-form>
  <div *ngIf="currentUser">
    <app-time-tracking></app-time-tracking>
  
      <!-- admin loggedIN -->
    <app-admin-nav 
        *ngIf="currentUser !== null && currentUser.isAdmin">
    </app-admin-nav>

      <!-- standard user loggedIN -->
    <app-user-nav *ngIf="currentUser !== null && !currentUser.isAdmin" 
        [isOnTime]="isOnTime"
        [fullOrder]="fullOrder"
        [userList]="userList"
        [currentUser]="currentUser"
        [creditMax]="creditMaxAllowed"
        (deleteRequest)="deleteOrder()">
    </app-user-nav>

    <a *ngIf="currentUser" class="onglet"
      routerLink="/"
      (click)="updateCurrentUser(null)">
      Se déconnecter
    </a>
  </div>
</nav>



