
<nav class="volet-lateral">
      <!--  user unknown -->
    <app-authentication-form *ngIf="currentUser === null"
        [userList]="userList"
        (UserChange)="updateCurrentUser($event)">
    </app-authentication-form>

      <!-- admin loggedIN -->
    <app-admin-nav 
        *ngIf="currentUser !== null && currentUser.isAdmin">
    </app-admin-nav>

      <!-- standard user loggedIN -->
    <app-user-nav *ngIf="currentUser !== null && !currentUser.isAdmin"  
        [fullOrder]="fullOrder"
        [userList]="userList"
        [currentUser]="currentUser"
        [orderList]="orderList"
        [productList]="productList"
        [creditMax]="creditMaxAllowed"
        (deleteRequest)="deleteOrder()">
    </app-user-nav>

    <a *ngIf="currentUser"
      routerLink="/"
      (click)="updateCurrentUser(null)">
      Se deconnecter
    </a>
</nav>



