.logo{
    position: sticky;
    width:15%;
    height: 15%;
}
.volet-lateral{
    display:flex;
    flex-direction: column;
    border: solid;
    position: relative;
    right: 0px;
    top: 10%;
    width: 25%;
    background-color: whitesmoke;
}