<h1>Article</h1>

<form [formGroup]="articleForm" (ngSubmit) = "onSubmitForm()"  >
    <div class="form-group form-element form-title">
       
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" data-pristine="true" 
        placeholder="Titre" required 
        class="form-control"  formControlName="title">
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='articleForm.controls.title.pristine || (!articleForm.controls.title.errors || !articleForm.controls.title.errors.required)'>
                le titre est requis
            </div>
        </div>
    </div>
    <div class="form-group form-element form-content">
        <label for="content">Contenu</label>
        <input type="text" name="content" id="content" data-pristine="true" 
        placeholder="Contenu" required 
        class="form-control"  formControlName="content">
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='articleForm.controls.content.pristine || (!articleForm.controls.content.errors || !articleForm.controls.content.errors.required)'>
                le contenu est requis
            </div>
        </div>
    </div>

    

    <div class="form-group form-element form-date">
        <label for="date">Date</label>
        <input type="text" name="date" id="date" data-pristine="true" 
        placeholder="yyyy-mm-dd" required 
        class="form-control"  formControlName="date">
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='articleForm.controls.date.pristine || (!articleForm.controls.date.errors || !articleForm.controls.date.errors.required)'>
                la date est requise
            </div>
        </div>
    </div>

    <div class="form-group form-element form-author">
        <label for="author">Auteur</label>
        <select  name="author" id="author" 
            data-pristine="true" 
            required 
            class="form-control"  formControlName="author">
            <option value="" disabled>Sélectionnez un auteur</option>
            <option *ngFor="let author of listAuthors" value="{{ author.id }}">{{ author.familyname}} {{ author.firstname}} </option>
        </select>
            
        <div class="error-message-container">
            <div class="errors error-message error-required" 
            [hidden]='articleForm.controls.author.pristine || (!articleForm.controls.author.errors || !articleForm.controls.author.errors.required)'>
                l'auteur est requis
            </div>
        </div>
    </div>


    <div class="form-group form-element form-published">
        
        <input type="checkbox"  name="published" id="published" data-pristine="true" 
        required 
        class="form-control"  formControlName="published"><label for="published">Publié</label>
  
    </div>

    <div class="form-group form-element form-complete">
        
        <input type="checkbox"  name="complete" id="complete" data-pristine="true" 
        required 
        class="form-control"  formControlName="complete"><label for="complete">Complet</label>
            
    </div>

    <div class="submit-container">
        <button type="submit"  
            class="submit-button"
            [disabled]="articleForm.invalid"
        >Envoyer</button>
    </div>
</form>

