<h2 *ngIf="fournisseur">{{fournisseur.nom}}</h2>
<div>
    <nav>
        <ul class="ulList">
            <li class="liList" *ngFor="let product of fournisseur?.products ; index as i"
                [class.selected]="product ===selectedProduct " (click)="select(product)">

                <span class="index">{{i+1}} </span>
                <span class="titles">:{{product?.nom}}
                    ({{product.prix}}€). </span>

        </ul>
    </nav>
</div>
<div *ngIf="selectedProduct" class="prductDetails">
    <table class="tableOfeDetails">
        <tr>
            <th>Nome de fournisseur</th>
            <th>{{fournisseur.nom}}</th>
        </tr>
        <tr>
            <th>Nom de Produit</th>
            <th>{{selectedProduct?.nom}}</th>
        </tr>
        <tr>
            <th>Prix de produit</th>
            <th>{{selectedProduct?.prix}}€</th>
        </tr>
        <tr>
            <th>Description</th>
            <th>{{selectedProduct?.description}}</th>
        </tr>
    </table>






    <app-options [options]="selectedProduct.options"></app-options>
</div>
<button *ngIf="stillInTime()" (click)="checkeOrder()">Vérifier</button>
<p class="message"> {{message}} </p>
<p class="hour">{{hour.getHours()}}:{{hour.getMinutes()}}:{{hour.getSeconds()}}</p>
