.valide-ok {
    color:greenyellow;
    display:none;
}
.valide-ko {
    color:red;
    display:none;
}
.form-element.valide .valide-ok{
    display: block
}
.form-element.valide .valide-ko{
    display: none
}
.form-element.invalide .valide-ok{
    display: none;
}
.form-element.invalide .valide-ko{
    display: block
}
.form-element.valide .submit-button{
    border-color: greenyellow;
}
.forn-element.invalide .submit-button{
    border-color: red;
}
.error-required {
    color:red;
    display:block;
}
.form-element.valide .error-required {
    display: none
}
.form-element.invalide .error-required {
    display: block;
}