body {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.valide-ok {
    color:greenyellow;
    display:none;
}
.valide-ko {
    color:red;
    display:none;
}
.error-message {
    color:red;
    display:none;
}
.form-mdp-strength {
    color: white;
    border-color: grey;
    display: block;
}
.mdp-faible {
    color: yellow;
}
.mdp-moyen {
    color: orange;
}
.mdp-fort {
    color: orangered;
}

.form-element.error-required .error-message.error-required, .form-element.error-min-length .error-message.error-min-length, .form-element.error-max-length .error-message.error-max-length, .form-element.error-dateIsFutur .error-message.error-dateIsFutur, .form-element.error-ageIsOut .error-message.error-ageIsOut, .form-element.error-min-login .error-message.error-min-login, .form.element.error-max-login .error-message.error-max-login, .form-element.error-login-used .error-message.error-login-used, .form-element.error-pattern .error-message.error-pattern, .form-element.error-email .error-message.error-email
{
    display: block;
}

.form-element.valide .valide-ok {
    display: block;
}
.form-element.valide .valide-ko {
    display: none;
}
.form-element.invalide .valide-ok{
    display: none;
}
.form-element.invalide .valide-ko {
    display: block;
}
.submit-button{
    border-color:black;
}
.submit-button.valide {
    border-color: greenyellow;
}
.submit-button.invalide {
    border-color: red;
}

