   /* ******************************* */
   /* police :  importer les polices  Architects Daughter et Montserrat depuis google fonts*/
   /* ******************************* */

body {
   margin: 0;
   padding: 50px 0;

   background: #c72d4f; 
   background: -moz-linear-gradient(-45deg, #8c1f49 0%, #c52e51 30%, #cb456a 30.1%, #a2234e 80.9%, #ac436c 81%, #cc4482 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #8c1f49 0%,#c52e51 30%,#cb456a 30.1%,#a2234e 80.9%,#ac436c 81%,#cc4482 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #8c1f49 0%,#c52e51 30%,#cb456a 30.1%,#a2234e 80.9%,#ac436c 81%,#cc4482 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

   font: 20px/25px 'Montserrat', Arial, sans-serif;
}

section {
   width: 990px;
   margin: 0 auto;
}

section .content {
   padding: 60px;
   position: relative;

   color: rgba(255,255,255,.8);
}
section .content h1,
section .content h2{
   /* ******************************* */
   /* police :  Architects Daughter*/
   /* ******************************* */
}

section:nth-child(2n+1) {
   background-color: black;
}

section:nth-child(2n) {
   background-color: #120307;
}


/* ******************************* */
section.section-header .content {
   padding: 80px;
}
section.section-header .content h1 {
   display: inline;

   /* ******************************* */
   /* 3px entre les lettres */
   /* en majuscule */
   /* une ombre decalage x, y et rayon de flou 5px de couleur #9c3060  avec une opacité de 80% */
   /* ******************************* */

   font-size: 45px;
   line-height: 60px;
  
}
section.section-header .content h1::first-letter {
   font-size: 50px;
   line-height: 50px;
}  

section.section-header .content img {
   position: absolute;
   top: 80px;
   right: 80px;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   box-shadow:  5px 5px 15px rgba(156,48,96,.9);
}

section.section-header button {
   color: #c72d4f;
   background-color: inherit;
   border:3px solid #c72d4f;
   width: 200px;
   font-size: 20px;
   line-height:45px;
}

section.section-header i {
   font-size: 25px;
   line-height:45px;
   width : 45px;
   height: 45px;
   color: black;
   background-color: white;
   border-radius: 50%;
   margin: 6px;
   display: inline-block;
   /* ******************************* */
   /* centrer le titre */
   /* ******************************* */
   cursor: pointer;
}

section.section-header i:hover {
   background-color: #c72d4f;
   color: white;
}

section.section-header p {
   max-width: 75%;
}


/* ******************************* */



section.section-story .content > *{
   padding: 0 15%;
}
section.section-story p {
   /* ******************************* */
   /* justifier le texte */
   /* ******************************* */
}
section.section-story .content h2{
   text-align: center;
   
   font-family: 'Architects Daughter', cursive;
}
section.section-story .sign {
   font: 25px/35px Arial, sans-serif;

   
   /* ******************************* */
   /* aligner le texte à droite*/
   /* ******************************* */
}

section.section-story .content h2,
section.section-story .content span { 
   /* ******************************* */
   /* mettre le texte en gras */
   /* ******************************* */
  

}

section.section-story .content span { 
   
   color: #c72d4f;

   /* ******************************* */
   /* souligner et surligner le texte en #c72d4f */
   /* ******************************* */
}

/* ******************************* */

section.section-about .content {
   display: grid;
   grid-template-columns: 48% 48%;
   justify-content: center;
}

section.section-about .content > * {
   box-sizing: border-box;
   padding: 15px 35px;
   text-align: justify;

   /* ******************************* */
   /* cesure automatique */
   /* ******************************* */
   
   background-color: rgba(199,45,79,.2);
}
section.section-about .content article:first-child {
   color: #c72d4f;
   background-color: inherit;
}

section.section-about .content h2 {
   text-transform: uppercase;
   color: white;
   font-size: 25px;
}


   /* ******************************* */
   /* mettre la premier lettre du titre en #c72d4f avec une taille de 50px */
   /* ******************************* */


section.section-about .content article:last-child {
   color: #c72d4f;
   margin-right: -30px;
   background-color: inherit;
   /* ******************************* */
   /* interligne de 40px; alignement à droite*/
   /* ******************************* */
}

section.section-about .content article:last-child p {
   padding-right: 30px;
   border-right: 5px solid #c72d4f;
  
}
/* ******************************* */

section.section-words .content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

section.section-words .content > * {
   width: 48%;
   padding: 25px 10px;
   box-sizing: border-box;
   overflow-wrap: break-word;
   /*hyphens: none;*/
}

section.section-words .content p {
   /* ******************************* */
   /* indentation de 50px et justifier le texte*/

   /* ******************************* */
 
   position : relative;
}

section.section-words .content p:first-child:before, 
section.section-words .content p:first-child:after {
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
   position: absolute;
   opacity: .2;
   font-size:50px;
   color: #c72d4f;
}


section.section-words .content p:first-child:before {
   
   /* ******************************* */
   /* trouver les apostrophes dans font-awesome et l'inserer via content */
   /* ******************************* */
   top: -20px;
   left: -40px;
}
section.section-words .content p:first-child:after {
   content: '\f10e';
   bottom: -20px;
   right: -25px;
}

section.section-words .content p:last-child {

   /* ******************************* */
   /* mettre en italique en petites majuscules et aligner à droite  */
   /* ******************************* */

}

 /* ******************************* */
   /* premiere ligne en #c72d4f  */
   /* ******************************* */

section.section-words .content p:first-child::first-line {
   color: #c72d4f;
}




section.section-header{
   background: url('../img/section-header.png') black no-repeat 0 0;
   min-height: 503px;
}
section.section-story{
   background: url('../img/section-story.png')  black no-repeat 0 0;
   min-height: 1196px;
}
section.section-about{
   background: url('../img/section-about.png')  black no-repeat 0 0;

   min-height: 1120px;
}
section.section-words{
   background: url('../img/section-words.png')  black no-repeat 0 0;
   min-height: 975px;
}